<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ava2_test1">
  <link
    name="chest">
    <inertial>
      <origin
        xyz="0.0892982324330723 -0.0534290945531862 -0.0281807915202921"
        rpy="0 0 0" />
      <mass
        value="0.756245533174847" />
      <inertia
        ixx="0.00066830108290333"
        ixy="-1.35139441444487E-07"
        ixz="-9.23992930981421E-09"
        iyy="0.000691671010331171"
        iyz="-6.28522357661008E-06"
        izz="0.000928603004594724" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="0.000463690787653695 -0.0109798760579415 3.10387747101681E-08"
        rpy="0 0 0" />
      <mass
        value="0.0059406321110728" />
      <inertia
        ixx="7.14031423861984E-07"
        ixy="-1.00193578163673E-08"
        ixz="3.26838990073657E-12"
        iyy="1.81302717415532E-06"
        iyz="-3.65212289150371E-13"
        izz="2.04030832261223E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neckturn"
    type="revolute">
    <origin
      xyz="0.0893 0.01724 0.048735"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="neck" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="-0.00747358995694229 -0.00106377627301604 -0.0418975947746681"
        rpy="0 0 0" />
      <mass
        value="0.366246371096136" />
      <inertia
        ixx="0.000801491998963977"
        ixy="9.63503133476118E-07"
        ixz="3.67282857488532E-05"
        iyy="0.000912509657465894"
        iyz="-5.15732295161367E-07"
        izz="0.00138117530714619" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="headnod"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_left">
    <inertial>
      <origin
        xyz="-0.0149605083613853 0.000457326070820704 -0.00139500021566141"
        rpy="0 0 0" />
      <mass
        value="0.17205039008692" />
      <inertia
        ixx="4.32641801303137E-05"
        ixy="-9.09540798470869E-07"
        ixz="-2.6863981293423E-08"
        iyy="5.80350724536638E-05"
        iyz="6.20306256387089E-08"
        izz="7.27906245300312E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_left"
    type="revolute">
    <origin
      xyz="0.2055 0.01858 -0.002605"
      rpy="3.14159 -1.5708 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_left" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bicep_left">
    <inertial>
      <origin
        xyz="-0.0251588309981683 0.00108749050740146 -0.0217063873020958"
        rpy="0 0 0" />
      <mass
        value="0.232287327845856" />
      <inertia
        ixx="6.06098632192287E-05"
        ixy="3.20356380317589E-06"
        ixz="-1.29351628855411E-05"
        iyy="0.00014481137425616"
        iyz="5.505771688089E-07"
        izz="0.000117148394663461" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="biceplift_left"
    type="continuous">
    <origin
      xyz="-0.12 0.006 0.0485"
      rpy="0 0 3.1416" />
    <parent
      link="shoulder_left" />
    <child
      link="bicep_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="forearm_left">
    <inertial>
      <origin
        xyz="0.010986750570082 -0.0074334368994575 0.00101633253953504"
        rpy="0 0 0" />
      <mass
        value="0.0700934249374856" />
      <inertia
        ixx="1.37578087198906E-05"
        ixy="-1.16166485196793E-06"
        ixz="-5.30142815762535E-08"
        iyy="1.54385338688329E-05"
        iyz="-3.54827052627168E-07"
        izz="2.41047602202332E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_left"
    type="continuous">
    <origin
      xyz="0.04648 0 -0.0198"
      rpy="3.1416 0 1.5708" />
    <parent
      link="bicep_left" />
    <child
      link="forearm_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist_left">
    <inertial>
      <origin
        xyz="0.0167881965857988 0.000188627661062563 4.11019158778371E-06"
        rpy="0 0 0" />
      <mass
        value="0.0359196656987806" />
      <inertia
        ixx="4.51461591731321E-06"
        ixy="1.00915257076793E-07"
        ixz="6.00348080887955E-10"
        iyy="6.71811421908287E-06"
        iyz="-3.24127422968566E-12"
        izz="7.60175630822651E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristspin_left"
    type="continuous">
    <origin
      xyz="0 0.0639 0"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="forearm_left" />
    <child
      link="wrist_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hand_left">
    <inertial>
      <origin
        xyz="5.82648034118186E-05 0.00542752858188089 -0.000577943696026956"
        rpy="0 0 0" />
      <mass
        value="0.019878840672065" />
      <inertia
        ixx="7.15929224571394E-06"
        ixy="1.35075802076533E-08"
        ixz="-9.89218361390838E-09"
        iyy="5.02025629762316E-06"
        iyz="2.91423359336923E-07"
        izz="5.44465003605237E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handcurl_left"
    type="continuous">
    <origin
      xyz="-0.025204 -9.1518E-05 -0.00052348"
      rpy="-1.5883 -1.5582 -3.1413" />
    <parent
      link="wrist_left" />
    <child
      link="hand_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder_right">
    <inertial>
      <origin
        xyz="-0.015103 0.00048882 0.0025466"
        rpy="0 0 0" />
      <mass
        value="0.093314" />
      <inertia
        ixx="2.3153E-05"
        ixy="-2.3994E-07"
        ixz="2.6596E-08"
        iyy="3.1267E-05"
        iyz="-6.1454E-08"
        izz="3.9801E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_right"
    type="continuous">
    <origin
      xyz="-0.0269 0.01858 -0.002605"
      rpy="3.1416 -1.5708 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="bicep_right">
    <inertial>
      <origin
        xyz="0.0796648768553722 0.0258275567543078 -0.0483390802875837"
        rpy="0 0 0" />
      <mass
        value="0.15299700445975" />
      <inertia
        ixx="4.99566908852529E-05"
        ixy="2.91598120482247E-06"
        ixz="2.30425085672802E-05"
        iyy="0.000111124356282393"
        iyz="-1.36254174424389E-06"
        izz="8.0181466520422E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="biceplift_right"
    type="continuous">
    <origin
      xyz="0 0.0302 0"
      rpy="0 -0.26691 3.1416" />
    <parent
      link="shoulder_right" />
    <child
      link="bicep_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="forearm_right">
    <inertial>
      <origin
        xyz="0.0101931575477226 -0.000244283982770786 0.00509798701513961"
        rpy="0 0 0" />
      <mass
        value="0.150300432289377" />
      <inertia
        ixx="3.59406813189228E-05"
        ixy="-3.39689110086634E-07"
        ixz="-1.14915773240395E-06"
        iyy="5.13423905569095E-05"
        iyz="5.26170731114645E-08"
        izz="4.74202069974423E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_right"
    type="continuous">
    <origin
      xyz="0.10818 0.0242 -0.059334"
      rpy="-1.5708 0.26691 0" />
    <parent
      link="bicep_right" />
    <child
      link="forearm_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist_right">
    <inertial>
      <origin
        xyz="0.0167527050147577 -4.07423573235005E-06 0.0105096554378538"
        rpy="0 0 0" />
      <mass
        value="0.0358643168523759" />
      <inertia
        ixx="4.50562758365512E-06"
        ixy="-5.90064849733657E-10"
        ixz="-1.0096865191529E-07"
        iyy="7.59654692338334E-06"
        iyz="-6.49973304193814E-12"
        izz="6.71245954698566E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristspin_right"
    type="continuous">
    <origin
      xyz="0.11038 -0.0107 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="forearm_right" />
    <child
      link="wrist_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hand_right">
    <inertial>
      <origin
        xyz="5.82869592403792E-05 0.00542751948734937 -0.00057792904883805"
        rpy="0 0 0" />
      <mass
        value="0.0198788582824736" />
      <inertia
        ixx="7.15929812047821E-06"
        ixy="1.35118259486834E-08"
        ixz="-9.88373804417197E-09"
        iyy="5.02026041890338E-06"
        iyz="2.91426278592706E-07"
        izz="5.44465226124912E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handcurl_right"
    type="continuous">
    <origin
      xyz="-0.025204 0.00052348 0.010792"
      rpy="-0.01716 0 1.5582" />
    <parent
      link="wrist_right" />
    <child
      link="hand_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist">
    <inertial>
      <origin
        xyz="-3.4474E-08 0.045514 0.04705"
        rpy="0 0 0" />
      <mass
        value="0.061162" />
      <inertia
        ixx="0.00011472"
        ixy="1.7838E-10"
        ixz="1.5143E-10"
        iyy="0.00011028"
        iyz="-6.6688E-06"
        izz="4.6904E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="chestturn"
    type="continuous">
    <origin
      xyz="0.0893 0.08568 -0.21856"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="waist" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="abdominals">
    <inertial>
      <origin
        xyz="0.0164049074952122 -0.000190059855202998 0.00156630945195715"
        rpy="0 0 0" />
      <mass
        value="0.353477688964924" />
      <inertia
        ixx="0.000118795190467479"
        ixy="-1.3708067698315E-06"
        ixz="2.86474298573438E-06"
        iyy="0.000154913295144689"
        iyz="1.81295135274672E-08"
        izz="0.000137703841226762" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/abdominals.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/abdominals.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waistlean"
    type="continuous">
    <origin
      xyz="0 0 0.0458"
      rpy="0 0 1.5708" />
    <parent
      link="waist" />
    <child
      link="abdominals" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pelvis">
    <inertial>
      <origin
        xyz="-0.018854856389564 0.0217693623646862 -0.019139457522652"
        rpy="0 0 0" />
      <mass
        value="0.35182694800691" />
      <inertia
        ixx="0.000109850249431618"
        ixy="1.76629044872391E-06"
        ixz="-4.63183552796254E-07"
        iyy="0.000157686407506466"
        iyz="-3.86686840544267E-07"
        izz="0.000140344073603501" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="abdominalcrunch"
    type="continuous">
    <origin
      xyz="-0.0922 0.0216 0.031"
      rpy="0 0 -3.1416" />
    <parent
      link="abdominals" />
    <child
      link="pelvis" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_left">
    <inertial>
      <origin
        xyz="-0.0159417174249804 -0.0507406124062403 -0.000107111275050427"
        rpy="0 0 0" />
      <mass
        value="0.178323461741087" />
      <inertia
        ixx="7.48278218995828E-05"
        ixy="-4.30291794922548E-06"
        ixz="2.15197259608346E-06"
        iyy="8.36514220937225E-05"
        iyz="1.34593544310846E-06"
        izz="5.3244703615886E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_left"
    type="continuous">
    <origin
      xyz="0 0.0432 -0.0198"
      rpy="3.1416 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hip_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hipconnector_left">
    <inertial>
      <origin
        xyz="0.00115186989132732 -0.000393539966623585 -0.0271334002479633"
        rpy="0 0 0" />
      <mass
        value="0.169598324226382" />
      <inertia
        ixx="7.23851064071837E-05"
        ixy="1.35086861995261E-10"
        ixz="-2.46451034604186E-07"
        iyy="5.76100467333967E-05"
        iyz="1.3654175768291E-06"
        izz="4.31561547565977E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_left"
    type="continuous">
    <origin
      xyz="0.0338 -0.052956 -0.027363"
      rpy="3.1416 0 3.1416" />
    <parent
      link="hip_left" />
    <child
      link="hipconnector_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thigh_left">
    <inertial>
      <origin
        xyz="0.00570500117778006 0.0662245721865314 -1.78324659897908E-07"
        rpy="0 0 0" />
      <mass
        value="0.373973684430427" />
      <inertia
        ixx="0.00023113832100164"
        ixy="-1.39502461288549E-05"
        ixz="-1.79874225085659E-09"
        iyy="0.000118273958944788"
        iyz="-1.69543916018192E-09"
        izz="0.000274294457820887" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thighlift_left"
    type="continuous">
    <origin
      xyz="-0.182 0.019129 -0.012621"
      rpy="0 0 -1.5708" />
    <parent
      link="hipconnector_left" />
    <child
      link="thigh_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shin_left">
    <inertial>
      <origin
        xyz="0.00175149458975968 0.0464735662881752 0.00103519363696609"
        rpy="0 0 0" />
      <mass
        value="0.20596589381705" />
      <inertia
        ixx="0.000459218476394825"
        ixy="-3.14702476062067E-06"
        ixz="1.12910649032358E-07"
        iyy="7.7796945897455E-05"
        iyz="2.09971232538523E-06"
        izz="0.000471028145448972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_left"
    type="continuous">
    <origin
      xyz="-0.0005 -0.11 0"
      rpy="0 0 0" />
    <parent
      link="thigh_left" />
    <child
      link="shin_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="foot_left">
    <inertial>
      <origin
        xyz="0.0259724293604463 0.000227025781361495 0.0121157555573008"
        rpy="0 0 0" />
      <mass
        value="0.0853987779456409" />
      <inertia
        ixx="0.000103659471526012"
        ixy="2.02708906805231E-07"
        ixz="-5.02759872423663E-06"
        iyy="9.41792602289416E-05"
        iyz="2.02312762259926E-06"
        izz="2.57794482332541E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_left"
    type="continuous">
    <origin
      xyz="0 -0.099 0"
      rpy="0 0 -1.5708" />
    <parent
      link="shin_left" />
    <child
      link="foot_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_right">
    <inertial>
      <origin
        xyz="-0.0159417912085335 -0.0507404517829446 0.00010736738086748"
        rpy="0 0 0" />
      <mass
        value="0.178325355992848" />
      <inertia
        ixx="7.48309288491028E-05"
        ixy="-4.30389437422348E-06"
        ixz="-2.15169248766049E-06"
        iyy="8.36532003806944E-05"
        iyz="-1.3457221095528E-06"
        izz="5.3247771231748E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_right"
    type="continuous">
    <origin
      xyz="0 0 -0.0198"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hip_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hipconnector_right">
    <inertial>
      <origin
        xyz="0.00115228000057799 0.000393632471235701 -0.0271334089654077"
        rpy="0 0 0" />
      <mass
        value="0.169598376957969" />
      <inertia
        ixx="7.23851093803072E-05"
        ixy="1.33129333144869E-10"
        ixz="-2.46477126244348E-07"
        iyy="5.76100522494366E-05"
        iyz="-1.36480065189471E-06"
        izz="4.3156155648747E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_right"
    type="continuous">
    <origin
      xyz="0.0338 -0.052956 0.027363"
      rpy="0 0 3.1416" />
    <parent
      link="hip_right" />
    <child
      link="hipconnector_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thigh_right">
    <inertial>
      <origin
        xyz="0.00570500076533588 0.0662245608767522 -1.79078782821737E-07"
        rpy="0 0 0" />
      <mass
        value="0.37397370421226" />
      <inertia
        ixx="0.000231138331356518"
        ixy="-1.39502413429722E-05"
        ixz="-1.79501363506426E-09"
        iyy="0.000118273965950942"
        iyz="-1.69955281932281E-09"
        izz="0.000274294467848483" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thighlift_right"
    type="continuous">
    <origin
      xyz="-0.182 -0.019129 -0.012621"
      rpy="-3.1416 0 1.5708" />
    <parent
      link="hipconnector_right" />
    <child
      link="thigh_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shin_right">
    <inertial>
      <origin
        xyz="0.00175149368225935 0.0464734390157469 -0.00103517344322589"
        rpy="0 0 0" />
      <mass
        value="0.205965279252637" />
      <inertia
        ixx="0.00045921498506546"
        ixy="-3.14615927497244E-06"
        ixz="-1.1317132628648E-07"
        iyy="7.77964799040597E-05"
        iyz="-2.10037051186984E-06"
        izz="0.000471024559747257" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_right"
    type="continuous">
    <origin
      xyz="-0.0005 -0.11 0"
      rpy="0 0 0" />
    <parent
      link="thigh_right" />
    <child
      link="shin_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="foot_right">
    <inertial>
      <origin
        xyz="0.0259708244889953 0.000229076981719999 -0.0121181524602839"
        rpy="0 0 0" />
      <mass
        value="0.0853737511932976" />
      <inertia
        ixx="0.000103653185924473"
        ixy="2.02096328260722E-07"
        ixz="5.02476589434509E-06"
        iyy="9.41784482253153E-05"
        iyz="-2.02397648304921E-06"
        izz="2.57815530348231E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_right"
    type="continuous">
    <origin
      xyz="0 -0.099 0"
      rpy="0 0 -1.5708" />
    <parent
      link="shin_right" />
    <child
      link="foot_right" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>