<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ava2">
  <link
    name="chest">
    <inertial>
      <origin
        xyz="0.0892982324333988 -0.053429094552495 -0.0281807915202828"
        rpy="0 0 0" />
      <mass
        value="0.756245533173823" />
      <inertia
        ixx="0.000668301082902053"
        ixy="-1.35139442448087E-07"
        ixz="-9.23992909326493E-09"
        iyy="0.000691671010331909"
        iyz="-6.28522357580434E-06"
        izz="0.000928603004594313" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="0.000463690787653695 -0.0109798760579415 3.10387747101681E-08"
        rpy="0 0 0" />
      <mass
        value="0.0059406321110728" />
      <inertia
        ixx="7.14031423861984E-07"
        ixy="-1.00193578163673E-08"
        ixz="3.2683899007445E-12"
        iyy="1.81302717415532E-06"
        iyz="-3.65212289139724E-13"
        izz="2.04030832261223E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neckturn"
    type="fixed">
    <origin
      xyz="0.0893 0.0172404124827796 0.0487349892896403"
      rpy="1.5707963267949 0 0" />
    <parent
      link="chest" />
    <child
      link="neck" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="-0.00747358995694232 -0.00106377627301601 -0.0418975947746681"
        rpy="0 0 0" />
      <mass
        value="0.366246371096135" />
      <inertia
        ixx="0.000801491998965333"
        ixy="9.63503133475385E-07"
        ixz="3.67282857488529E-05"
        iyy="0.000912509657467154"
        iyz="-5.15732297134153E-07"
        izz="0.00138117530714628" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="headnod"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder_left">
    <inertial>
      <origin
        xyz="-0.0149605083613853 0.000457326070820708 -0.00139500021566141"
        rpy="0 0 0" />
      <mass
        value="0.17205039008692" />
      <inertia
        ixx="4.32641801303137E-05"
        ixy="-9.09540798470869E-07"
        ixz="-2.68639812934254E-08"
        iyy="5.80350724536638E-05"
        iyz="6.2030625638709E-08"
        izz="7.27906245300312E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_left"
    type="fixed">
    <origin
      xyz="0.2055 0.01858 -0.002605"
      rpy="3.14159 -1.5708 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="bicep_left">
    <inertial>
      <origin
        xyz="-0.0251588309982343 0.00108749050740217 -0.021706387302586"
        rpy="0 0 0" />
      <mass
        value="0.232287327840107" />
      <inertia
        ixx="6.06098632170725E-05"
        ixy="3.20356380312613E-06"
        ixz="-1.2935162886357E-05"
        iyy="0.000144811374253953"
        iyz="5.50577168921673E-07"
        izz="0.000117148394662791" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="biceplift_left"
    type="fixed">
    <origin
      xyz="-0.12 0.006 0.0485"
      rpy="0 0 3.14159265358979" />
    <parent
      link="shoulder_left" />
    <child
      link="bicep_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="forearm_left">
    <inertial>
      <origin
        xyz="0.010986750570082 -0.0074334368994575 0.00101633253953504"
        rpy="0 0 0" />
      <mass
        value="0.0700934249374856" />
      <inertia
        ixx="1.37578087198906E-05"
        ixy="-1.16166485196793E-06"
        ixz="-5.30142815762548E-08"
        iyy="1.54385338688329E-05"
        iyz="-3.54827052627167E-07"
        izz="2.41047602202332E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_left"
    type="fixed">
    <origin
      xyz="0.04648 0 -0.0198"
      rpy="3.14159263868863 0 1.5707963267949" />
    <parent
      link="bicep_left" />
    <child
      link="forearm_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist_left">
    <inertial>
      <origin
        xyz="0.0167881965857987 0.000188627661062563 4.11019158778198E-06"
        rpy="0 0 0" />
      <mass
        value="0.0359196656987806" />
      <inertia
        ixx="4.51461591731321E-06"
        ixy="1.00915257076793E-07"
        ixz="6.00348080887901E-10"
        iyy="6.71811421908287E-06"
        iyz="-3.24127422969624E-12"
        izz="7.60175630822651E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristspin_left"
    type="fixed">
    <origin
      xyz="0 0.0639 0"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="forearm_left" />
    <child
      link="wrist_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hand_left">
    <inertial>
      <origin
        xyz="5.82648034118186E-05 0.00542752858188089 -0.000577943696027011"
        rpy="0 0 0" />
      <mass
        value="0.019878840672065" />
      <inertia
        ixx="7.15929224571394E-06"
        ixy="1.35075802076567E-08"
        ixz="-9.89218361390556E-09"
        iyy="5.02025629762316E-06"
        iyz="2.91423359336921E-07"
        izz="5.44465003605237E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handcurl_left"
    type="fixed">
    <origin
      xyz="-0.0252040713263239 -9.15181271650689E-05 -0.000523479401451143"
      rpy="-1.58827404918805 -1.55819288360229 -3.14127531143594" />
    <parent
      link="wrist_left" />
    <child
      link="hand_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shoulder_right">
    <inertial>
      <origin
        xyz="-0.0151034623332778 0.000488824944822015 0.00254661057518065"
        rpy="0 0 0" />
      <mass
        value="0.0933140477887859" />
      <inertia
        ixx="2.31532261548967E-05"
        ixy="-2.39939101643637E-07"
        ixz="2.65955333547331E-08"
        iyy="3.12670632715097E-05"
        iyz="-6.14537853515695E-08"
        izz="3.98010856675438E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_right"
    type="fixed">
    <origin
      xyz="-0.0269 0.01858 -0.002605"
      rpy="3.14159 -1.5708 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="bicep_right">
    <inertial>
      <origin
        xyz="0.0796648768553722 0.0258275567543078 -0.0483390802875837"
        rpy="0 0 0" />
      <mass
        value="0.15299700445975" />
      <inertia
        ixx="4.99566908852529E-05"
        ixy="2.91598120482247E-06"
        ixz="2.30425085672802E-05"
        iyy="0.000111124356282393"
        iyz="-1.36254174424389E-06"
        izz="8.0181466520422E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="biceplift_right"
    type="fixed">
    <origin
      xyz="0 0.030199999999934 0"
      rpy="0 -0.266912354008724 3.14159265358979" />
    <parent
      link="shoulder_right" />
    <child
      link="bicep_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="forearm_right">
    <inertial>
      <origin
        xyz="0.0101931575477226 -0.000244283982770786 0.00509798701513962"
        rpy="0 0 0" />
      <mass
        value="0.150300432289377" />
      <inertia
        ixx="3.59406813189228E-05"
        ixy="-3.39689110086633E-07"
        ixz="-1.14915773240395E-06"
        iyy="5.13423905569095E-05"
        iyz="5.26170731114639E-08"
        izz="4.74202069974423E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_right"
    type="fixed">
    <origin
      xyz="0.108181033891431 0.024199999999934 -0.0593342557565269"
      rpy="-1.5707963267949 0.266912354008724 0" />
    <parent
      link="bicep_right" />
    <child
      link="forearm_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="wrist_right">
    <inertial>
      <origin
        xyz="0.0167527050147577 -4.07423573235005E-06 0.0105096554378538"
        rpy="0 0 0" />
      <mass
        value="0.0358643168523759" />
      <inertia
        ixx="4.50562758365512E-06"
        ixy="-5.90064849733656E-10"
        ixz="-1.00968651915289E-07"
        iyy="7.59654692338334E-06"
        iyz="-6.49973304182738E-12"
        izz="6.71245954698566E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristspin_right"
    type="fixed">
    <origin
      xyz="0.11038 -0.0107 0"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="forearm_right" />
    <child
      link="wrist_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hand_right">
    <inertial>
      <origin
        xyz="5.82869592403792E-05 0.00542751948734937 -0.00057792904883805"
        rpy="0 0 0" />
      <mass
        value="0.0198788582824736" />
      <inertia
        ixx="7.15929812047821E-06"
        ixy="1.35118259486841E-08"
        ixz="-9.88373804417173E-09"
        iyy="5.02026041890338E-06"
        iyz="2.91426278592707E-07"
        izz="5.44465226124912E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handcurl_right"
    type="fixed">
    <origin
      xyz="-0.0252040713263239 0.000523479401451142 0.010791518127165"
      rpy="-0.0171604054433481 0 1.55819288423683" />
    <parent
      link="wrist_right" />
    <child
      link="hand_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist">
    <inertial>
      <origin
        xyz="-3.44737193930245E-08 0.0455143551632032 0.0470503088429638"
        rpy="0 0 0" />
      <mass
        value="0.0611615094926185" />
      <inertia
        ixx="0.000114716253669831"
        ixy="1.78378124506896E-10"
        ixz="1.51429838381831E-10"
        iyy="0.00011028221072173"
        iyz="-6.66883762005127E-06"
        izz="4.69040065079021E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="chestturn"
    type="fixed">
    <origin
      xyz="0.0893000000000402 0.0856804124827968 -0.218555010710356"
      rpy="1.5707963267949 0 0" />
    <parent
      link="chest" />
    <child
      link="waist" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="abdominals">
    <inertial>
      <origin
        xyz="0.0164049074953908 -0.000190059855701294 0.00156630945195313"
        rpy="0 0 0" />
      <mass
        value="0.353477688976877" />
      <inertia
        ixx="0.000118795190471966"
        ixy="-1.37080676858931E-06"
        ixz="2.86474298663313E-06"
        iyy="0.000154913295146832"
        iyz="1.81295119546179E-08"
        izz="0.000137703841230337" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/abdominals.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/abdominals.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waistlean"
    type="fixed">
    <origin
      xyz="0 0 0.0458"
      rpy="0 0 1.57079632679492" />
    <parent
      link="waist" />
    <child
      link="abdominals" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pelvis">
    <inertial>
      <origin
        xyz="-0.0188548563896087 0.0217693623643311 -0.0191394575224399"
        rpy="0 0 0" />
      <mass
        value="0.351826948011236" />
      <inertia
        ixx="0.000109850249433242"
        ixy="1.76629044847244E-06"
        ixz="-4.6318355218214E-07"
        iyy="0.000157686407508128"
        iyz="-3.86686839974976E-07"
        izz="0.000140344073604005" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="abdominalcrunch"
    type="fixed">
    <origin
      xyz="-0.0921999997187021 0.0215999999851954 0.030999999718674"
      rpy="0 0 -3.14159265358979" />
    <parent
      link="abdominals" />
    <child
      link="pelvis" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_left">
    <inertial>
      <origin
        xyz="-0.0159417174254301 -0.0507406124063652 -0.00010711127525052"
        rpy="0 0 0" />
      <mass
        value="0.178323461736544" />
      <inertia
        ixx="7.48278218990528E-05"
        ixy="-4.3029179486272E-06"
        ixz="2.15197259672846E-06"
        iyy="8.36514220919766E-05"
        iyz="1.34593544337266E-06"
        izz="5.32447036141796E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_left"
    type="fixed">
    <origin
      xyz="0 0.0432004617004451 -0.0197999999999746"
      rpy="3.14159265358979 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hip_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hipconnector_left">
    <inertial>
      <origin
        xyz="0.00115186989144328 -0.000393539966964507 -0.0271334002481186"
        rpy="0 0 0" />
      <mass
        value="0.169598324229684" />
      <inertia
        ixx="7.23851064084519E-05"
        ixy="1.35087296252822E-10"
        ixz="-2.46451034412283E-07"
        iyy="5.76100467337817E-05"
        iyz="1.36541757636038E-06"
        izz="4.31561547578367E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_left"
    type="fixed">
    <origin
      xyz="0.0337999999999986 -0.052955999999967 -0.0273626927695556"
      rpy="3.14159265358979 0 3.14159265358977" />
    <parent
      link="hip_left" />
    <child
      link="hipconnector_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thigh_left">
    <inertial>
      <origin
        xyz="0.00570500117778008 0.0662245721865313 -1.78324659896173E-07"
        rpy="0 0 0" />
      <mass
        value="0.373973684430428" />
      <inertia
        ixx="0.00023113832100164"
        ixy="-1.39502461288549E-05"
        ixz="-1.79874225086353E-09"
        iyy="0.000118273958944788"
        iyz="-1.69543916019184E-09"
        izz="0.000274294457820887" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thighlift_left"
    type="fixed">
    <origin
      xyz="-0.18200046170042 0.0191289708184052 -0.0126211927695132"
      rpy="0 0 -1.57079632679492" />
    <parent
      link="hipconnector_left" />
    <child
      link="thigh_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shin_left">
    <inertial>
      <origin
        xyz="0.00175149458975965 0.0464735662881752 0.00103519363696609"
        rpy="0 0 0" />
      <mass
        value="0.20596589381705" />
      <inertia
        ixx="0.000459218476394825"
        ixy="-3.14702476062068E-06"
        ixz="1.12910649032356E-07"
        iyy="7.7796945897455E-05"
        iyz="2.09971232538523E-06"
        izz="0.000471028145448972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_left"
    type="fixed">
    <origin
      xyz="-0.000500000000063366 -0.11 0"
      rpy="0 0 0" />
    <parent
      link="thigh_left" />
    <child
      link="shin_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="foot_left">
    <inertial>
      <origin
        xyz="0.0259724293604465 0.000227025781361717 0.0121157555573002"
        rpy="0 0 0" />
      <mass
        value="0.0853987779456404" />
      <inertia
        ixx="0.000103659471526009"
        ixy="2.02708906805129E-07"
        ixz="-5.02759872423636E-06"
        iyy="9.41792602289391E-05"
        iyz="2.02312762259854E-06"
        izz="2.57794482332539E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_left"
    type="fixed">
    <origin
      xyz="0 -0.0990000000000002 0"
      rpy="0 0 -1.57079632679487" />
    <parent
      link="shin_left" />
    <child
      link="foot_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_right">
    <inertial>
      <origin
        xyz="-0.0159417912085335 -0.0507404517829446 0.00010736738086747"
        rpy="0 0 0" />
      <mass
        value="0.178325355992848" />
      <inertia
        ixx="7.48309288491028E-05"
        ixy="-4.30389437422349E-06"
        ixz="-2.15169248766049E-06"
        iyy="8.36532003806944E-05"
        iyz="-1.3457221095528E-06"
        izz="5.3247771231748E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_right"
    type="fixed">
    <origin
      xyz="0 0 -0.019800000000028"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hip_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hipconnector_right">
    <inertial>
      <origin
        xyz="0.00115228000041723 0.000393632471576632 -0.0271334089655197"
        rpy="0 0 0" />
      <mass
        value="0.169598376961271" />
      <inertia
        ixx="7.23851093814726E-05"
        ixy="1.33129767399089E-10"
        ixz="-2.46477126380563E-07"
        iyy="5.76100522497188E-05"
        iyz="-1.36480065156192E-06"
        izz="4.3156155649986E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_right"
    type="fixed">
    <origin
      xyz="0.0338000000000001 -0.0529560000000338 0.0273626927694245"
      rpy="0 0 3.14159265358979" />
    <parent
      link="hip_right" />
    <child
      link="hipconnector_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="thigh_right">
    <inertial>
      <origin
        xyz="0.00570500076533588 0.0662245608767523 -1.79078782823472E-07"
        rpy="0 0 0" />
      <mass
        value="0.37397370421226" />
      <inertia
        ixx="0.000231138331356517"
        ixy="-1.39502413429721E-05"
        ixz="-1.79501363505465E-09"
        iyy="0.000118273965950942"
        iyz="-1.69955281933079E-09"
        izz="0.000274294467848483" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thighlift_right"
    type="fixed">
    <origin
      xyz="-0.182 -0.0191289708165422 -0.0126211927694661"
      rpy="-3.14159265358979 0 1.5707963267949" />
    <parent
      link="hipconnector_right" />
    <child
      link="thigh_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="shin_right">
    <inertial>
      <origin
        xyz="0.00175149368225936 0.0464734390157467 -0.00103517344322589"
        rpy="0 0 0" />
      <mass
        value="0.205965279252637" />
      <inertia
        ixx="0.000459214985065459"
        ixy="-3.14615927497258E-06"
        ixz="-1.13171326286473E-07"
        iyy="7.77964799040596E-05"
        iyz="-2.10037051186985E-06"
        izz="0.000471024559747256" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_right"
    type="fixed">
    <origin
      xyz="-0.000499999999930008 -0.11 0"
      rpy="0 0 0" />
    <parent
      link="thigh_right" />
    <child
      link="shin_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="foot_right">
    <inertial>
      <origin
        xyz="0.0259708244889956 0.00022907698171986 -0.0121181524602845"
        rpy="0 0 0" />
      <mass
        value="0.0853737511932987" />
      <inertia
        ixx="0.000103653185924476"
        ixy="2.02096328260795E-07"
        ixz="5.02476589434534E-06"
        iyy="9.41784482253186E-05"
        iyz="-2.02397648304992E-06"
        izz="2.57815530348235E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_right"
    type="fixed">
    <origin
      xyz="0 -0.099 0"
      rpy="0 0 -1.57079632679487" />
    <parent
      link="shin_right" />
    <child
      link="foot_right" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>