<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="SwappingURDF">
  <link
    name="chest">
    <inertial>
      <origin
        xyz="0.064279 -0.037011 -0.02564"
        rpy="0 0 0" />
      <mass
        value="0.51796" />
      <inertia
        ixx="0.0005771"
        ixy="-1.3375E-07"
        ixz="-9.1536E-09"
        iyy="0.00059415"
        iyz="-6.8845E-06"
        izz="0.0008604" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="-0.00046369 0.0090201 -3.1039E-08"
        rpy="0 0 0" />
      <mass
        value="0.0054006" />
      <inertia
        ixx="6.4912E-07"
        ixy="9.1085E-09"
        ixz="2.9713E-12"
        iyy="1.6482E-06"
        iyz="3.3201E-13"
        izz="1.8548E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neck_turn"
    type="revolute">
    <origin
      xyz="0 -0.010944 0.082162"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="neck" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="0.00080348012417214 0.0534510885341687 -0.0036143021027961"
        rpy="0 0 0" />
      <mass
        value="0.496658763776637" />
      <inertia
        ixx="0.0010287563957024"
        ixy="-8.67862818616096E-09"
        ixz="2.09572066323146E-07"
        iyy="0.00203886300157394"
        iyz="-1.09198580315922E-05"
        izz="0.00164695377435873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_nod"
    type="revolute">
    <origin
      xyz="0 0.02 0"
      rpy="0 0 0" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_left">
    <inertial>
      <origin
        xyz="0.036702135253922 -0.000181870664772605 0.00194083539475779"
        rpy="0 0 0" />
      <mass
        value="0.11165520855183" />
      <inertia
        ixx="3.26341545652402E-05"
        ixy="1.00030741771673E-07"
        ixz="-1.08634533039376E-07"
        iyy="4.28556042109112E-05"
        iyz="-2.76297938617659E-07"
        izz="3.92138045604685E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_left"
    type="revolute">
    <origin
      xyz="0.089501 -0.015604 0.032462"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bicep_left">
    <inertial>
      <origin
        xyz="0.00537023920253907 -0.0766847667002765 0.00460157339160713"
        rpy="0 0 0" />
      <mass
        value="0.145739770828731" />
      <inertia
        ixx="7.04776795612585E-05"
        ixy="-5.59630806175732E-08"
        ixz="5.66191302191047E-09"
        iyy="3.48834492828899E-05"
        iyz="2.73140489027362E-06"
        izz="8.67056713359699E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="armlift_left"
    type="revolute">
    <origin
      xyz="0.05 0 0"
      rpy="0 0 0" />
    <parent
      link="shoulder_left" />
    <child
      link="bicep_left" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elbow_left">
    <inertial>
      <origin
        xyz="0.00447918456306245 -0.0390367081909198 -0.0109934774651598"
        rpy="0 0 0" />
      <mass
        value="0.0696997574554248" />
      <inertia
        ixx="2.39361627172391E-05"
        ixy="-3.5131382857211E-07"
        ixz="-5.24893156555651E-08"
        iyy="1.53465441420604E-05"
        iyz="-1.14911302964384E-06"
        izz="1.36573095632137E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/elbow_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/elbow_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbowcurl_left"
    type="revolute">
    <origin
      xyz="0 -0.10319 0.0065"
      rpy="0 0 0" />
    <parent
      link="bicep_left" />
    <child
      link="elbow_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_left">
    <inertial>
      <origin
        xyz="0.000433912797090596 -0.031147303631852 4.08044720961315E-06"
        rpy="0 0 0" />
      <mass
        value="0.0358643400810453" />
      <inertia
        ixx="6.71245982602498E-06"
        ixy="-1.0096802833609E-07"
        ixz="1.80908843475121E-12"
        iyy="4.50563090198979E-06"
        iyz="5.97773545808378E-10"
        izz="7.59655047197246E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handspin_left"
    type="revolute">
    <origin
      xyz="0.0054911 -0.06238 0"
      rpy="0 0 0" />
    <parent
      link="elbow_left" />
    <child
      link="forearm_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_left">
    <inertial>
      <origin
        xyz="0.000792393950674153 -0.0353737870987647 0.00280466875220461"
        rpy="0 0 0" />
      <mass
        value="0.0452220700022358" />
      <inertia
        ixx="8.63943366795227E-06"
        ixy="-1.57071283313935E-07"
        ixz="-1.95394301660935E-08"
        iyy="1.27152788682435E-05"
        iyz="-3.35607511948422E-07"
        izz="1.07231243681285E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristcurl_left"
    type="revolute">
    <origin
      xyz="0 -0.05 0"
      rpy="0 0 0" />
    <parent
      link="forearm_left" />
    <child
      link="wrist_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_right">
    <inertial>
      <origin
        xyz="-0.0367867048688758 -0.000266584850597348 0.00145740866209888"
        rpy="0 0 0" />
      <mass
        value="0.111655209278659" />
      <inertia
        ixx="3.26341547019089E-05"
        ixy="-1.00149634268116E-07"
        ixz="3.53611684818866E-07"
        iyy="4.28556042638667E-05"
        iyz="2.76297898895794E-07"
        izz="3.92138047350205E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_right"
    type="revolute">
    <origin
      xyz="-0.089497 -0.015604 0.032462"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bicep_right">
    <inertial>
      <origin
        xyz="-0.00548029799675617 -0.0767949641379226 0.00444226354427806"
        rpy="0 0 0" />
      <mass
        value="0.145739112705213" />
      <inertia
        ixx="7.0476807793333E-05"
        ixy="5.61714009935351E-08"
        ixz="-5.73424715931229E-09"
        iyy="3.48834328932938E-05"
        iyz="2.73128855492095E-06"
        izz="8.67046405929377E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="armlift_right"
    type="revolute">
    <origin
      xyz="-0.05 0 0"
      rpy="0 0 0" />
    <parent
      link="shoulder_right" />
    <child
      link="bicep_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elbow_right">
    <inertial>
      <origin
        xyz="-0.00458955420495752 -0.0390365429562165 -0.0109932153031413"
        rpy="0 0 0" />
      <mass
        value="0.0697003946438699" />
      <inertia
        ixx="2.39361976751456E-05"
        ixy="3.51399398173786E-07"
        ixz="5.25574526488749E-08"
        iyy="1.53466417627746E-05"
        iyz="-1.14914807694618E-06"
        izz="1.36572035667433E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/elbow_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/elbow_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbowcurl_right"
    type="revolute">
    <origin
      xyz="0 -0.1033 0.0063"
      rpy="0 0 0" />
    <parent
      link="bicep_right" />
    <child
      link="elbow_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_right">
    <inertial>
      <origin
        xyz="0.000148059451727675 -0.0311473036104171 -4.08044228085219E-06"
        rpy="0 0 0" />
      <mass
        value="0.0358643400623008" />
      <inertia
        ixx="6.71245984133165E-06"
        ixy="1.00967982653384E-07"
        ixz="1.84930376245118E-12"
        iyy="4.50563089351917E-06"
        iyz="-5.97767237549783E-10"
        izz="7.59655048227918E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handspin_right"
    type="revolute">
    <origin
      xyz="-0.0056011 -0.06238 0"
      rpy="0 0 0" />
    <parent
      link="elbow_right" />
    <child
      link="forearm_right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_right">
    <inertial>
      <origin
        xyz="-6.91028900941942E-05 -0.0354288981145789 -0.00192635301599262"
        rpy="0 0 0" />
      <mass
        value="0.0452222890466553" />
      <inertia
        ixx="8.63941386072275E-06"
        ixy="1.55838663437599E-07"
        ixz="6.13844714801871E-11"
        iyy="1.27675221079676E-05"
        iyz="-7.7653341091979E-08"
        izz="1.06711569832198E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristcurl_right"
    type="revolute">
    <origin
      xyz="0 -0.05 0"
      rpy="0 0 0" />
    <parent
      link="forearm_right" />
    <child
      link="wrist_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist">
    <inertial>
      <origin
        xyz="-4.31361210778691E-08 -0.0234755752726476 -0.026049863904514"
        rpy="0 0 0" />
      <mass
        value="0.0611615287088306" />
      <inertia
        ixx="0.000114715638927737"
        ixy="1.42434165229896E-10"
        ixz="9.9187701513491E-11"
        iyy="0.000110281529216247"
        iyz="-6.66880885481691E-06"
        izz="4.69040180855928E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waistspin"
    type="revolute">
    <origin
      xyz="0 -0.015604 -0.096138"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="waist" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="abdominalmotors">
    <inertial>
      <origin
        xyz="0.000174665023591911 0.0176769516843184 -0.0219919398784802"
        rpy="0 0 0" />
      <mass
        value="0.195912121751896" />
      <inertia
        ixx="9.4917459231208E-05"
        ixy="6.96731583307856E-07"
        ixz="-1.7949572361973E-08"
        iyy="7.82537929863942E-05"
        iyz="3.49689321252974E-06"
        izz="7.78783957234944E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/abdominalmotors.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/abdominalmotors.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waistlean"
    type="revolute">
    <origin
      xyz="0 -0.06899 -0.0039"
      rpy="0 0 0" />
    <parent
      link="waist" />
    <child
      link="abdominalmotors" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="pelvis">
    <inertial>
      <origin
        xyz="0.000305814096462576 -0.0700588956747065 -0.0153445880942709"
        rpy="0 0 0" />
      <mass
        value="0.194609765587927" />
      <inertia
        ixx="9.18291939149481E-05"
        ixy="-1.76630998056816E-06"
        ixz="-3.8726785426679E-07"
        iyy="6.96811860233498E-05"
        iyz="-8.85204047249174E-07"
        izz="8.68874056512852E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="torsobend"
    type="revolute">
    <origin
      xyz="0 0 0.0039"
      rpy="0 0 0" />
    <parent
      link="abdominalmotors" />
    <child
      link="pelvis" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hiplift_left">
    <inertial>
      <origin
        xyz="0.0490258828792634 0.0160663120639818 -0.0159744848481076"
        rpy="0 0 0" />
      <mass
        value="0.0995250123743458" />
      <inertia
        ixx="5.05544531504874E-05"
        ixy="-4.2603640809972E-06"
        ixz="1.3325989063094E-06"
        iyy="4.78936757211616E-05"
        iyz="1.47016122823338E-06"
        izz="3.30349316335167E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hiplift_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hiplift_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_left"
    type="revolute">
    <origin
      xyz="0.0216 -0.0922 0"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hiplift_left" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hiprotate_left">
    <inertial>
      <origin
        xyz="0.000371721010711479 -0.0245214988727122 -0.0142789423985216"
        rpy="0 0 0" />
      <mass
        value="0.0908859899237988" />
      <inertia
        ixx="3.08463534079889E-05"
        ixy="-8.41256102366978E-11"
        ixz="-6.9139597216118E-07"
        iyy="3.93996593055487E-05"
        iyz="-2.44017871876086E-07"
        izz="2.3046259109016E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hiprotate_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hiprotate_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_left"
    type="continuous">
    <origin
      xyz="0.052956 -0.00715 -0.0014585"
      rpy="0 0 0" />
    <parent
      link="hiplift_left" />
    <child
      link="hiprotate_left" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="thigh_left">
    <inertial>
      <origin
        xyz="-0.0145675301720398 -0.13592908688958 -5.67194289844558E-07"
        rpy="0 0 0" />
      <mass
        value="0.137378554874298" />
      <inertia
        ixx="0.00014808071898738"
        ixy="-1.63141654846658E-05"
        ixz="-1.60941185131013E-09"
        iyy="5.58195502382643E-05"
        iyz="-1.73818741183167E-09"
        izz="0.000171021242818992" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leglift_left"
    type="revolute">
    <origin
      xyz="0 -0.02665 0"
      rpy="0 0 0" />
    <parent
      link="hiprotate_left" />
    <child
      link="thigh_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="calf_left">
    <inertial>
      <origin
        xyz="-0.0160007669286902 -0.089824748659872 0.00220656134574289"
        rpy="0 0 0" />
      <mass
        value="0.0956498712976374" />
      <inertia
        ixx="0.000422592493372738"
        ixy="-3.87929159852984E-06"
        ixz="1.1241326478322E-07"
        iyy="5.30015520086443E-05"
        iyz="2.07894546768639E-06"
        izz="0.00042698761346969" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_left"
    type="revolute">
    <origin
      xyz="0 -0.182 0"
      rpy="0 0 0" />
    <parent
      link="thigh_left" />
    <child
      link="calf_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="foot_left">
    <inertial>
      <origin
        xyz="-0.0191018154838921 -0.0259472969596639 0.0120981971632576"
        rpy="0 0 0" />
      <mass
        value="0.0849888192434385" />
      <inertia
        ixx="9.35123903759125E-05"
        ixy="-2.01748027134376E-07"
        ixz="2.00858818616436E-06"
        iyy="0.000102901460941037"
        iyz="4.97783638243948E-06"
        izz="2.5622263282691E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_left"
    type="revolute">
    <origin
      xyz="0 -0.209 0"
      rpy="0 0 0" />
    <parent
      link="calf_left" />
    <child
      link="foot_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hiplift_right">
    <inertial>
      <origin
        xyz="-0.0490256483910393 0.0160664399123552 -0.0159740379084392"
        rpy="0 0 0" />
      <mass
        value="0.0995268617733542" />
      <inertia
        ixx="5.05561981186045E-05"
        ixy="4.26123277702088E-06"
        ixz="-1.33240369968858E-06"
        iyy="4.7896737772178E-05"
        iyz="1.46988554660309E-06"
        izz="3.30379614617406E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hiplift_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hiplift_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_right"
    type="revolute">
    <origin
      xyz="-0.0216 -0.0922 0"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hiplift_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hiprotate_right">
    <inertial>
      <origin
        xyz="-0.000371897467482497 -0.0245210787465047 -0.0142789940905173"
        rpy="0 0 0" />
      <mass
        value="0.090886207578529" />
      <inertia
        ixx="3.08465134655196E-05"
        ixy="-8.54649035463017E-11"
        ixz="6.90765044267844E-07"
        iyy="3.93998265888536E-05"
        iyz="-2.44039967223106E-07"
        izz="2.30462673274617E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hiprotate_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hiprotate_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_right"
    type="revolute">
    <origin
      xyz="-0.052956 -0.00715 -0.0014585"
      rpy="0 0 0" />
    <parent
      link="hiplift_right" />
    <child
      link="hiprotate_right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="thigh_right">
    <inertial>
      <origin
        xyz="0.0145675307097098 -0.13592908742535 5.67046100683963E-07"
        rpy="0 0 0" />
      <mass
        value="0.137378549813852" />
      <inertia
        ixx="0.000148080710594481"
        ixy="1.63141676618334E-05"
        ixz="-1.60963115537102E-09"
        iyy="5.58195496398304E-05"
        iyz="1.73735073087502E-09"
        izz="0.000171021233842108" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leglift_right"
    type="revolute">
    <origin
      xyz="0 -0.02665 0"
      rpy="0 0 0" />
    <parent
      link="hiprotate_right" />
    <child
      link="thigh_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="calf_right">
    <inertial>
      <origin
        xyz="0.0160007613300091 -0.0898251749231914 0.00220651770704533"
        rpy="0 0 0" />
      <mass
        value="0.0956492394604093" />
      <inertia
        ixx="0.000422588993728413"
        ixy="3.8784394402563E-06"
        ixz="-1.12681392596905E-07"
        iyy="5.30010832206693E-05"
        iyz="2.07959611573325E-06"
        izz="0.000426984033194668" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_right"
    type="revolute">
    <origin
      xyz="0 -0.182 0"
      rpy="0 0 0" />
    <parent
      link="thigh_right" />
    <child
      link="calf_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="foot_right">
    <inertial>
      <origin
        xyz="0.0190997525257982 -0.0259456985628996 0.0121005938841383"
        rpy="0 0 0" />
      <mass
        value="0.084964082390886" />
      <inertia
        ixx="9.35115490728539E-05"
        ixy="2.0114950605E-07"
        ixz="-2.00939605183565E-06"
        iyy="0.000102895238673036"
        iyz="4.97500516325292E-06"
        izz="2.56243580518017E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_right"
    type="revolute">
    <origin
      xyz="0 -0.209 0"
      rpy="0 0 0" />
    <parent
      link="calf_right" />
    <child
      link="foot_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>