<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Humanoid_URDF">
  <link
    name="chest">
    <inertial>
      <origin
        xyz="0.000135656568234769 0.00237934778167712 0.0338209871223485"
        rpy="0 0 0" />
      <mass
        value="0.479726397006515" />
      <inertia
        ixx="0.000495330458905136"
        ixy="4.46392092110063E-06"
        ixz="-5.15390392872024E-08"
        iyy="0.000546663625843435"
        iyz="-2.11880205389285E-06"
        izz="0.000719868680660974" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="0.000463690787653679 0.00902012394205851 3.1038774717107E-08"
        rpy="0 0 0" />
      <mass
        value="0.00594063211107279" />
      <inertia
        ixx="7.14031423861984E-07"
        ixy="-1.00193578163669E-08"
        ixz="3.26838990136341E-12"
        iyy="1.81302717415532E-06"
        iyz="-3.65212289464019E-13"
        izz="2.04030832261223E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neckturn"
    type="continuous">
    <origin
      xyz="0 -0.0453 0.0831"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="neck" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="0.00804866348059731 -0.0447484502518483 -0.000205917010387891"
        rpy="0 0 0" />
      <mass
        value="0.394341322903989" />
      <inertia
        ixx="0.000763425567278004"
        ixy="-3.33528590785223E-05"
        ixz="-1.01351795373676E-06"
        iyy="0.0013030259179287"
        iyz="-5.36690778859306E-07"
        izz="0.000863580311256873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="headnod"
    type="continuous">
    <origin
      xyz="0 0.02 0"
      rpy="0 -1.5708 0" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="shoulder_left">
    <inertial>
      <origin
        xyz="-0.00389447899991313 -0.00049682223745201 0.0253442019367078"
        rpy="0 0 0" />
      <mass
        value="0.197219674731417" />
      <inertia
        ixx="0.000105627601817092"
        ixy="-3.2742640195277E-06"
        ixz="3.15133991753652E-06"
        iyy="0.000121951090664048"
        iyz="-2.84894107495198E-06"
        izz="0.000166845175439281" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_left"
    type="continuous">
    <origin
      xyz="0.0921 -0.051 0.033"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="chest" />
    <child
      link="shoulder_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="bicep_left">
    <inertial>
      <origin
        xyz="0.00260127693089551 0.0712492211601561 -0.00151949962446182"
        rpy="0 0 0" />
      <mass
        value="0.129222482336228" />
      <inertia
        ixx="6.70815107828268E-05"
        ixy="-2.8230886755832E-06"
        ixz="-1.51019018719881E-09"
        iyy="8.37829581115902E-05"
        iyz="7.08139818664999E-07"
        izz="9.58407464980717E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="biceplift_left"
    type="continuous">
    <origin
      xyz="0 0 0.062476610561002"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="shoulder_left" />
    <child
      link="bicep_left" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="forearm_left">
    <inertial>
      <origin
        xyz="-0.00226338017782459 -0.0519546439430537 -5.92574448658317E-05"
        rpy="0 0 0" />
      <mass
        value="0.0596002990474708" />
      <inertia
        ixx="2.68528473300462E-05"
        ixy="-3.29236643297416E-07"
        ixz="-1.2834360674568E-09"
        iyy="2.38570964743956E-05"
        iyz="-5.60140664333622E-08"
        izz="3.15383018778022E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_left"
    type="continuous">
    <origin
      xyz="0.00317499999999847 0.103304276059129 0"
      rpy="0 -1.5707963267949 0" />
    <parent
      link="bicep_left" />
    <child
      link="forearm_left" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="wrist_left">
    <inertial>
      <origin
        xyz="-0.00152146667681022 -0.0276426736485872 0.000115338799611349"
        rpy="0 0 0" />
      <mass
        value="0.0541322074488871" />
      <inertia
        ixx="1.61733978528101E-05"
        ixy="-3.05165360219943E-07"
        ixz="6.89491663476034E-10"
        iyy="1.01313079065358E-05"
        iyz="9.19003510538519E-11"
        izz="1.61328623785762E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristspin_left"
    type="continuous">
    <origin
      xyz="-0.00240000000000003 -0.0787000000000003 -0.0127999999982001"
      rpy="3.14159265358979 0 3.14159265358979" />
    <parent
      link="forearm_left" />
    <child
      link="wrist_left" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="hand_left">
    <inertial>
      <origin
        xyz="8.94966543739176E-05 0.0805799031360248 -0.00345666952466565"
        rpy="0 0 0" />
      <mass
        value="0.096892060613452" />
      <inertia
        ixx="3.07955608410215E-05"
        ixy="-9.92458606584015E-08"
        ixz="-9.71323786490938E-09"
        iyy="1.71973885038782E-05"
        iyz="-1.73178735002994E-06"
        izz="3.26465806812939E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handcurl_left"
    type="continuous">
    <origin
      xyz="0 -0.0428000000000002 0.000124999999999396"
      rpy="3.13301245342782 -1.57079232717222 -0.00858020528131218" />
    <parent
      link="wrist_left" />
    <child
      link="hand_left" />
    <axis
      xyz="0 0.0171595632243 -0.999852763847735" />
  </joint>
  <link
    name="gripper_left">
    <inertial>
      <origin
        xyz="0.0122008952528579 0.0244705015917694 0.00172483795757492"
        rpy="0 0 0" />
      <mass
        value="0.0132238158471976" />
      <inertia
        ixx="5.75385834485264E-06"
        ixy="-3.19574418659566E-07"
        ixz="1.07490582442366E-11"
        iyy="4.0969349883067E-06"
        iyz="-1.27813718674684E-12"
        izz="3.06625639532594E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/gripper_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/gripper_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_left"
    type="continuous">
    <origin
      xyz="-0.00012499975293525 0.117035130167948 -0.0030731306896986"
      rpy="1.57056328390166 -1.55363592088544 -1.57056324958431" />
    <parent
      link="hand_left" />
    <child
      link="gripper_left" />
    <axis
      xyz="0 0 0.999999999992002" />
  </joint>
  <link
    name="shoulder_right">
    <inertial>
      <origin
        xyz="-0.00389447899959798 0.000496822237510894 -0.0253442019372676"
        rpy="0 0 0" />
      <mass
        value="0.197219674733325" />
      <inertia
        ixx="0.000105627601817094"
        ixy="3.27426401953392E-06"
        ixz="-3.15133991744825E-06"
        iyy="0.000121951090664024"
        iyz="-2.84894107495893E-06"
        izz="0.000166845175439258" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shoulder_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_right"
    type="continuous">
    <origin
      xyz="-0.0921 -0.051 0.033"
      rpy="1.5708 0 1.5708" />
    <parent
      link="chest" />
    <child
      link="shoulder_right" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="bicep_right">
    <inertial>
      <origin
        xyz="0.00260127693019257 0.0712492211606997 -0.00151949962704077"
        rpy="0 0 0" />
      <mass
        value="0.129222482354362" />
      <inertia
        ixx="6.70815107917309E-05"
        ixy="-2.82308867680859E-06"
        ixz="-1.510192066483E-09"
        iyy="8.37829581176957E-05"
        iyz="7.08139814182871E-07"
        izz="9.58407465014781E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bicep_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="biceplift_right"
    type="continuous">
    <origin
      xyz="0 0 -0.0624766105610017"
      rpy="-1.57079632679489 0 3.14159265358979" />
    <parent
      link="shoulder_right" />
    <child
      link="bicep_right" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="forearm_right">
    <inertial>
      <origin
        xyz="-0.00226338016794547 -0.0519546439459497 -5.92574345693944E-05"
        rpy="0 0 0" />
      <mass
        value="0.059600298985807" />
      <inertia
        ixx="2.68528473190456E-05"
        ixy="-3.29236651870932E-07"
        ixz="-1.28342983870307E-09"
        iyy="2.38570964610548E-05"
        iyz="-5.60140749232543E-08"
        izz="3.15383018666251E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/forearm_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_right"
    type="continuous">
    <origin
      xyz="0.003175 0.1033 0"
      rpy="0 -1.5708 0" />
    <parent
      link="bicep_right" />
    <child
      link="forearm_right" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="wrist_right">
    <inertial>
      <origin
        xyz="-0.00152146668895294 -0.0276426736326172 0.000115338803668465"
        rpy="0 0 0" />
      <mass
        value="0.0541322073797514" />
      <inertia
        ixx="1.61733978413552E-05"
        ixy="-3.05165367798518E-07"
        ixz="6.89490216265605E-10"
        iyy="1.01313078949348E-05"
        iyz="9.19026936942375E-11"
        izz="1.61328623633167E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wrist_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristspin_right"
    type="continuous">
    <origin
      xyz="-0.00239999999999981 -0.0786999999999978 -0.0127999999982005"
      rpy="3.14159265358979 0 3.14159265358977" />
    <parent
      link="forearm_right" />
    <child
      link="wrist_right" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="hand_right">
    <inertial>
      <origin
        xyz="8.94966453307E-05 0.0805799031715165 -0.00345666952149717"
        rpy="0 0 0" />
      <mass
        value="0.0968920607054377" />
      <inertia
        ixx="3.07955608523168E-05"
        ixy="-9.92458511890794E-08"
        ixz="-9.71323319750717E-09"
        iyy="1.71973885218691E-05"
        iyz="-1.73178735642832E-06"
        izz="3.26465807065284E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handcurl_right"
    type="continuous">
    <origin
      xyz="0 -0.0428000000000013 0.000125000000006953"
      rpy="3.13301245516304 -1.57079232717222 -0.00858020701652515" />
    <parent
      link="wrist_right" />
    <child
      link="hand_right" />
    <axis
      xyz="0 0.0171595632242928 -0.999852763847735" />
  </joint>
  <link
    name="gripper_right">
    <inertial>
      <origin
        xyz="0.0122008952528546 0.0244705015325777 0.00172483879733055"
        rpy="0 0 0" />
      <mass
        value="0.0132238158471976" />
      <inertia
        ixx="5.75385834485265E-06"
        ixy="-3.19574418659936E-07"
        ixz="1.07380913105218E-11"
        iyy="4.09693498830679E-06"
        iyz="-1.24276702335701E-12"
        izz="3.06625639532585E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/gripper_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/gripper_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_right"
    type="continuous">
    <origin
      xyz="-0.000124999752942737 0.117035130167948 -0.00307313068969156"
      rpy="1.57056324958429 -1.55363592088546 -1.57056324958431" />
    <parent
      link="hand_right" />
    <child
      link="gripper_right" />
    <axis
      xyz="0 0 0.999999999992001" />
  </joint>
  <link
    name="waist">
    <inertial>
      <origin
        xyz="0.00011759734155463 -0.0630824442184826 -0.0308939812115211"
        rpy="0 0 0" />
      <mass
        value="0.0660513453042764" />
      <inertia
        ixx="9.53240911067881E-05"
        ixy="-2.53426221641131E-08"
        ixz="1.56181924393345E-07"
        iyy="8.74553462675325E-05"
        iyz="-5.92321206802055E-06"
        izz="4.13003867898186E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="chestturn"
    type="continuous">
    <origin
      xyz="0 -0.049950000195054 -0.0402"
      rpy="1.5707963267949 0 0.00319374778567617" />
    <parent
      link="chest" />
    <child
      link="waist" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="abdominals">
    <inertial>
      <origin
        xyz="0.000470653039976887 0.0148277505883262 -0.0199471136741658"
        rpy="0 0 0" />
      <mass
        value="0.172498731191252" />
      <inertia
        ixx="6.52718629079631E-05"
        ixy="4.30442527549228E-07"
        ixz="-2.07127368093941E-08"
        iyy="4.49367564150136E-05"
        iyz="-6.99875582820981E-07"
        izz="6.87218759440106E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/abdominals.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/abdominals.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waistlean"
    type="continuous">
    <origin
      xyz="1.21362209539193E-05 -0.125447500859276 -0.00379998061996927"
      rpy="0 0 0" />
    <parent
      link="waist" />
    <child
      link="abdominals" />
    <axis
      xyz="0.00319374235629444 0 -0.999994899991876" />
  </joint>
  <link
    name="pelvis">
    <inertial>
      <origin
        xyz="-0.00168691625570723 -0.0690728884711128 -0.0117207926430746"
        rpy="0 0 0" />
      <mass
        value="0.195140256815313" />
      <inertia
        ixx="8.65130992317669E-05"
        ixy="-2.83518433478278E-07"
        ixz="3.01023074253903E-08"
        iyy="6.61037080146024E-05"
        iyz="4.19460540487607E-07"
        izz="7.89320170767993E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="abdominalcrunch"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="4.41399543709926E-05 0 0" />
    <parent
      link="abdominals" />
    <child
      link="pelvis" />
    <axis
      xyz="0.999899374338857 -0.0138218361733384 0.0031934372641918" />
  </joint>
  <link
    name="hip_left">
    <inertial>
      <origin
        xyz="0.0482202667478069 0.0149236040706997 -0.0126952492105056"
        rpy="0 0 0" />
      <mass
        value="0.103656460782127" />
      <inertia
        ixx="5.37332443343182E-05"
        ixy="-3.73684181703913E-06"
        ixz="7.89194649489695E-08"
        iyy="5.19334121909366E-05"
        iyz="6.87955303943165E-07"
        izz="3.61094595036532E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_left"
    type="continuous">
    <origin
      xyz="0.019122224555896 -0.092473099962267 0.000141587585576669"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hip_left" />
    <axis
      xyz="0.00318166875776669 -0.000873185656814284 -0.999994557250551" />
  </joint>
  <link
    name="hipconnector_left">
    <inertial>
      <origin
        xyz="0.0122386354363036 -0.0264557601026715 0.000767465560812863"
        rpy="0 0 0" />
      <mass
        value="0.0981806273443171" />
      <inertia
        ixx="3.15504894859472E-05"
        ixy="2.71198029685869E-06"
        ixz="7.09075991175421E-07"
        iyy="4.36150264565542E-05"
        iyz="-3.23657367334987E-11"
        izz="4.30103392528053E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_left"
    type="continuous">
    <origin
      xyz="0.0529429001442858 -0.000729806779775743 0.00261072658997315"
      rpy="-0.253588773784534 1.56749146050578 -0.267412246753153" />
    <parent
      link="hip_left" />
    <child
      link="hipconnector_left" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="thigh_left">
    <inertial>
      <origin
        xyz="-0.017114981361205 -0.138908791929622 0.00274562360315379"
        rpy="0 0 0" />
      <mass
        value="0.142851789201077" />
      <inertia
        ixx="0.000228991248728177"
        ixy="-2.98414781160843E-05"
        ixz="2.79775648380797E-06"
        iyy="7.89254107603698E-05"
        iyz="1.68238771890882E-05"
        izz="0.000240573868609888" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thighlift_left"
    type="continuous">
    <origin
      xyz="0.000500000000000063 -0.0327999999999748 0"
      rpy="0 -1.57079059652822 0.000829123459538498" />
    <parent
      link="hipconnector_left" />
    <child
      link="thigh_left" />
    <axis
      xyz="0.999999999983582 0 0" />
  </joint>
  <link
    name="shin_left">
    <inertial>
      <origin
        xyz="-0.00568690985239755 -0.129948753254452 -0.019309409280155"
        rpy="0 0 0" />
      <mass
        value="0.12398492270113" />
      <inertia
        ixx="0.000548784354325764"
        ixy="3.03035901236561E-05"
        ixz="-3.66068834680411E-08"
        iyy="9.1200851721569E-05"
        iyz="-1.51345938688725E-06"
        izz="0.000541858949807221" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_left"
    type="continuous">
    <origin
      xyz="0 -0.188399801770421 0"
      rpy="0.00691110859723705 1.5707905963926 0.00691110859735401" />
    <parent
      link="thigh_left" />
    <child
      link="shin_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="foot_left">
    <inertial>
      <origin
        xyz="0.0195834252305614 -0.0247884668122113 -0.0194250481415162"
        rpy="0 0 0" />
      <mass
        value="0.0536841660105612" />
      <inertia
        ixx="8.6992338119121E-05"
        ixy="-1.14756120425044E-06"
        ixz="-3.35555117134211E-06"
        iyy="9.69019465142011E-05"
        iyz="-5.72279707922248E-06"
        izz="2.23789533595802E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_left"
    type="continuous">
    <origin
      xyz="0 -0.221800000000001 0"
      rpy="3.1415926133912 1.57079059652822 3.14159261339088" />
    <parent
      link="shin_left" />
    <child
      link="foot_left" />
    <axis
      xyz="0.999999999983582 0 0" />
  </joint>
  <link
    name="hip_right">
    <inertial>
      <origin
        xyz="-0.0477072114991736 0.0162496372736688 -0.0130054798900397"
        rpy="0 0 0" />
      <mass
        value="0.103656860321305" />
      <inertia
        ixx="5.39384585784611E-05"
        ixy="3.67704061988683E-06"
        ixz="5.70818774619375E-08"
        iyy="5.17284818848451E-05"
        iyz="7.11480710691364E-07"
        izz="3.61093404286723E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_right"
    type="continuous">
    <origin
      xyz="-0.022873549166337 -0.0918925828429866 0"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hip_right" />
    <axis
      xyz="0.00318166875776891 -0.000873185656814283 -0.999994557250551" />
  </joint>
  <link
    name="hipconnector_right">
    <inertial>
      <origin
        xyz="0.0122386354373823 -0.026455743110385 -0.000767448637744014"
        rpy="0 0 0" />
      <mass
        value="0.0981806273474271" />
      <inertia
        ixx="3.15504894867472E-05"
        ixy="2.71198369744652E-06"
        ixz="-7.09112083059436E-07"
        iyy="4.36150264591726E-05"
        iyz="-3.23672111272548E-11"
        izz="4.30103392546373E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hipconnector_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_right"
    type="continuous">
    <origin
      xyz="-0.0529584381884904 0.000734070667063103 0.00227236102342254"
      rpy="-0.253588773784397 1.56749146050571 -0.267412246752986" />
    <parent
      link="hip_right" />
    <child
      link="hipconnector_right" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="thigh_right">
    <inertial>
      <origin
        xyz="-0.00274047368333732 -0.138887150501031 0.0171104240981929"
        rpy="0 0 0" />
      <mass
        value="0.142933420733459" />
      <inertia
        ixx="0.000240683074662723"
        ixy="-1.68110978936013E-05"
        ixz="2.79230255990898E-06"
        iyy="7.89589029227484E-05"
        iyz="2.98408031047487E-05"
        izz="0.000229112267062655" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thighlift_right"
    type="continuous">
    <origin
      xyz="0.000499999999999813 -0.032800000000001 0"
      rpy="0 0 0.000829164875814153" />
    <parent
      link="hipconnector_right" />
    <child
      link="thigh_right" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="shin_right">
    <inertial>
      <origin
        xyz="-0.00568768834797584 -0.12994042684311 0.0193159045224857"
        rpy="0 0 0" />
      <mass
        value="0.124019519788088" />
      <inertia
        ixx="0.000548776478005362"
        ixy="3.03048597099845E-05"
        ixz="4.19537686793874E-08"
        iyy="9.12209152878271E-05"
        iyz="1.46094240608916E-06"
        izz="0.000541863018268745" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/shin_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_right"
    type="continuous">
    <origin
      xyz="0 -0.188399801770423 0"
      rpy="0 0 0" />
    <parent
      link="thigh_right" />
    <child
      link="shin_right" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="foot_right">
    <inertial>
      <origin
        xyz="0.019482449548878 -0.024788016171463 0.0194066863662911"
        rpy="0 0 0" />
      <mass
        value="0.0536716360354024" />
      <inertia
        ixx="8.70063087597856E-05"
        ixy="-1.1487289768594E-06"
        ixz="3.35586322446243E-06"
        iyy="9.69150205867708E-05"
        iyz="5.72339513869573E-06"
        izz="2.23817478048718E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/foot_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_right"
    type="continuous">
    <origin
      xyz="0 -0.221800000000001 0"
      rpy="0 -1.57079059652822 0" />
    <parent
      link="shin_right" />
    <child
      link="foot_right" />
    <axis
      xyz="0.999999999983582 0 0" />
  </joint>
</robot>