<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="UpdatedBalancing_URDF">
  <link
    name="chest">
    <inertial>
      <origin
        xyz="0.0642793409289425 -0.0370112812881071 -0.0256401248001077"
        rpy="0 0 0" />
      <mass
        value="0.517959592655815" />
      <inertia
        ixx="0.000577098969825151"
        ixy="-1.33752337558957E-07"
        ixz="-9.15363866953495E-09"
        iyy="0.00059415285358001"
        iyz="-6.8845468997084E-06"
        izz="0.000860396819511756" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="-0.000463690787653626 0.00902012394205838 -3.10387747032292E-08"
        rpy="0 0 0" />
      <mass
        value="0.00540057464642989" />
      <inertia
        ixx="6.49119476238174E-07"
        ixy="9.10850710578314E-09"
        ixz="2.97126354556793E-12"
        iyy="1.6482065219594E-06"
        iyz="3.32011171764253E-13"
        izz="1.85482574782931E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neckturn"
    type="revolute">
    <origin
      xyz="0.064282 0.014336 0.043892"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="neck" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.87266"
      upper="0.87266"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="0.000803480124172182 0.0534510885341688 -0.0036143021027961"
        rpy="0 0 0" />
      <mass
        value="0.496658763776637" />
      <inertia
        ixx="0.0010287563957024"
        ixy="-8.67862818613214E-09"
        ixz="2.09572066323061E-07"
        iyy="0.00203886300157394"
        iyz="-1.09198580315923E-05"
        izz="0.00164695377435873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="headnod"
    type="revolute">
    <origin
      xyz="0 0.02 0"
      rpy="0 0 0" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.17453"
      upper="0.17453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_left">
    <inertial>
      <origin
        xyz="0.036702135253922 -0.000181870664772608 0.00194083539475779"
        rpy="0 0 0" />
      <mass
        value="0.11165520855183" />
      <inertia
        ixx="3.26341545652402E-05"
        ixy="1.00030741771672E-07"
        ixz="-1.08634533039376E-07"
        iyy="4.28556042109112E-05"
        iyz="-2.7629793861766E-07"
        izz="3.92138045604685E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/shoulder_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/shoulder_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_left"
    type="revolute">
    <origin
      xyz="0.15378 0.0096761 -0.0058081"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.1416"
      upper="0.7854"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bicep_left">
    <inertial>
      <origin
        xyz="-0.000120898844433004 -0.0767947667002765 0.00460157339160713"
        rpy="0 0 0" />
      <mass
        value="0.145739770828731" />
      <inertia
        ixx="7.04776795612585E-05"
        ixy="-5.59630806175744E-08"
        ixz="5.66191302191004E-09"
        iyy="3.48834492828899E-05"
        iyz="2.73140489027361E-06"
        izz="8.67056713359699E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/bicep_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/bicep_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="biceplift_left"
    type="revolute">
    <origin
      xyz="0.055491 0.00011 0"
      rpy="0 0 0" />
    <parent
      link="shoulder_left" />
    <child
      link="bicep_left" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.9199"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elbow_left">
    <inertial>
      <origin
        xyz="-0.00101195348390964 -0.0390367081909198 -0.0109934774651598"
        rpy="0 0 0" />
      <mass
        value="0.0696997574554248" />
      <inertia
        ixx="2.39361627172391E-05"
        ixy="-3.5131382857211E-07"
        ixz="-5.2489315655565E-08"
        iyy="1.53465441420604E-05"
        iyz="-1.14911302964384E-06"
        izz="1.36573095632137E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/elbow_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/elbow_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_left"
    type="revolute">
    <origin
      xyz="0 -0.1033 0.0065"
      rpy="0 0 0" />
    <parent
      link="bicep_left" />
    <child
      link="elbow_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_left">
    <inertial>
      <origin
        xyz="0.000433912797081076 -0.0311473036318238 4.08044721956526E-06"
        rpy="0 0 0" />
      <mass
        value="0.0358643400809929" />
      <inertia
        ixx="6.71245982600968E-06"
        ixy="-1.00968028341704E-07"
        ixz="1.80908590024734E-12"
        iyy="4.50563090197367E-06"
        iyz="5.97773551551173E-10"
        izz="7.59655047194625E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/forearm_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/forearm_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristspin_left"
    type="revolute">
    <origin
      xyz="0 -0.06238 0"
      rpy="0 0 0" />
    <parent
      link="elbow_left" />
    <child
      link="forearm_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hand_left">
    <inertial>
      <origin
        xyz="0.00109032195070444 -0.0678977111646605 -0.00117614022404038"
        rpy="0 0 0" />
      <mass
        value="0.109497135710607" />
      <inertia
        ixx="2.83983780296706E-05"
        ixy="-1.42228890197939E-06"
        ixz="1.30763626754733E-08"
        iyy="2.37603477225452E-05"
        iyz="-1.47516258411142E-06"
        izz="2.80325661824611E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hand_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hand_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handcurl_left"
    type="revolute">
    <origin
      xyz="0 -0.0479 0"
      rpy="0 0 0" />
    <parent
      link="forearm_left" />
    <child
      link="hand_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.17453"
      upper="1.1345"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper_left">
    <inertial>
      <origin
        xyz="-0.00638782211981948 -0.0197883740351979 -0.011078968506845"
        rpy="0 0 0" />
      <mass
        value="0.00510904165131481" />
      <inertia
        ixx="2.70406157052312E-06"
        ixy="-2.5463451176325E-07"
        ixz="8.4419750797172E-09"
        iyy="1.77868259913855E-06"
        iyz="-2.34312427679617E-07"
        izz="1.17285411365298E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/gripper_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/gripper_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_left"
    type="revolute">
    <origin
      xyz="0.0006381 -0.11159 -0.0015564"
      rpy="0.076707 0 0" />
    <parent
      link="hand_left" />
    <child
      link="gripper_left" />
    <axis
      xyz="0 0.062719 0.99803" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_right">
    <inertial>
      <origin
        xyz="-0.0367867048688758 -0.000266584850597349 0.00145740866209887"
        rpy="0 0 0" />
      <mass
        value="0.111655209278659" />
      <inertia
        ixx="3.26341547019089E-05"
        ixy="-1.00149634268116E-07"
        ixz="3.53611684818867E-07"
        iyy="4.28556042638667E-05"
        iyz="2.76297898895795E-07"
        izz="3.92138047350205E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/shoulder_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/shoulder_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_right"
    type="revolute">
    <origin
      xyz="-0.025217 0.0096761 -0.0058081"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.1416"
      upper="0.7854"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bicep_right">
    <inertial>
      <origin
        xyz="0.000120840050215815 -0.0767949641379226 0.00444226354427807"
        rpy="0 0 0" />
      <mass
        value="0.145739112705213" />
      <inertia
        ixx="7.0476807793333E-05"
        ixy="5.61714009935356E-08"
        ixz="-5.73424715931292E-09"
        iyy="3.48834328932938E-05"
        iyz="2.73128855492095E-06"
        izz="8.67046405929377E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/bicep_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/bicep_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="biceplift_right"
    type="revolute">
    <origin
      xyz="-0.055601 0 0"
      rpy="0 0 0" />
    <parent
      link="shoulder_right" />
    <child
      link="bicep_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.9199"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elbow_right">
    <inertial>
      <origin
        xyz="0.00101158384201445 -0.0390365429562165 -0.0109932153031413"
        rpy="0 0 0" />
      <mass
        value="0.0697003946438698" />
      <inertia
        ixx="2.39361976751456E-05"
        ixy="3.51399398173786E-07"
        ixz="5.25574526488754E-08"
        iyy="1.53466417627746E-05"
        iyz="-1.14914807694618E-06"
        izz="1.36572035667433E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/elbow_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/elbow_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_right"
    type="revolute">
    <origin
      xyz="0 -0.1033 0.0063"
      rpy="0 0 0" />
    <parent
      link="bicep_right" />
    <child
      link="elbow_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_right">
    <inertial>
      <origin
        xyz="0.000148059451727675 -0.0311473036104171 -4.08044228085262E-06"
        rpy="0 0 0" />
      <mass
        value="0.0358643400623008" />
      <inertia
        ixx="6.71245984133165E-06"
        ixy="1.00967982653384E-07"
        ixz="1.84930376240394E-12"
        iyy="4.50563089351917E-06"
        iyz="-5.97767237549605E-10"
        izz="7.59655048227918E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/forearm_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/forearm_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristspin_right"
    type="revolute">
    <origin
      xyz="0 -0.06238 0"
      rpy="0 0 0" />
    <parent
      link="elbow_right" />
    <child
      link="forearm_right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hand_right">
    <inertial>
      <origin
        xyz="0.000402226658976865 -0.0678977111981909 -0.00117614021842142"
        rpy="0 0 0" />
      <mass
        value="0.109497135798019" />
      <inertia
        ixx="2.83983780470224E-05"
        ixy="-1.42228889201603E-06"
        ixz="1.30763572374024E-08"
        iyy="2.376034773421E-05"
        iyz="-1.47516257736643E-06"
        izz="2.80325662015897E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hand_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hand_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handcurl_right"
    type="revolute">
    <origin
      xyz="0 -0.0479 0"
      rpy="-3.1416 0 3.1416" />
    <parent
      link="forearm_right" />
    <child
      link="hand_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.17453"
      upper="1.1345"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper_right">
    <inertial>
      <origin
        xyz="-0.00638782211814252 -0.0197883740437725 -0.0110789685159262"
        rpy="0 0 0" />
      <mass
        value="0.00510904165446283" />
      <inertia
        ixx="2.70406157361966E-06"
        ixy="-2.54634510521004E-07"
        ixz="8.44197508095914E-09"
        iyy="1.77868260149171E-06"
        iyz="-2.34312428417018E-07"
        izz="1.17285411645456E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/gripper_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/gripper_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_right"
    type="revolute">
    <origin
      xyz="-4.9999E-05 -0.11159 -0.0015564"
      rpy="0.076707 1.0186E-05 -0.00073032" />
    <parent
      link="hand_right" />
    <child
      link="gripper_right" />
    <axis
      xyz="0 0.062719 0.99803" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist">
    <inertial>
      <origin
        xyz="-4.31361210778691E-08 -0.0234755752726476 -0.026049863904514"
        rpy="0 0 0" />
      <mass
        value="0.0611615287088307" />
      <inertia
        ixx="0.000114715638927737"
        ixy="1.42434165229661E-10"
        ixz="9.91877015138386E-11"
        iyy="0.000110281529216247"
        iyz="-6.66880885481691E-06"
        izz="4.69040180855929E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/waist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/waist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="chestturn"
    type="revolute">
    <origin
      xyz="0.064282 0.0096761 -0.13441"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="waist" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.17453"
      upper="0.17453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="abdominals">
    <inertial>
      <origin
        xyz="0.000174665023591924 0.0176769516843183 -0.0219919398784802"
        rpy="0 0 0" />
      <mass
        value="0.195912121751896" />
      <inertia
        ixx="9.4917459231208E-05"
        ixy="6.96731583307853E-07"
        ixz="-1.79495723619725E-08"
        iyy="7.82537929863942E-05"
        iyz="3.49689321252975E-06"
        izz="7.78783957234944E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/abdominals.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/abdominals.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waistlean"
    type="revolute">
    <origin
      xyz="0 -0.06899 -0.0039"
      rpy="0 0 0" />
    <parent
      link="waist" />
    <child
      link="abdominals" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.087266"
      upper="0.087266"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="pelvis">
    <inertial>
      <origin
        xyz="0.000305814096500559 -0.0700588956579401 -0.0114445878129717"
        rpy="0 0 0" />
      <mass
        value="0.194609765587927" />
      <inertia
        ixx="9.18291939149477E-05"
        ixy="-1.76630998056817E-06"
        ixz="-3.87267854266788E-07"
        iyy="6.96811860233494E-05"
        iyz="-8.85204047249173E-07"
        izz="8.68874056512852E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/pelvis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="abdominalcrunch"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="abdominals" />
    <child
      link="pelvis" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.34907"
      upper="0.087266"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_left">
    <inertial>
      <origin
        xyz="0.0490258828792945 0.0160663120640049 -0.0120744845668055"
        rpy="0 0 0" />
      <mass
        value="0.0995250123742131" />
      <inertia
        ixx="5.05544531504472E-05"
        ixy="-4.26036408100061E-06"
        ixz="1.33259890630962E-06"
        iyy="4.78936757211643E-05"
        iyz="1.47016122823765E-06"
        izz="3.30349316334802E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hip_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hip_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_left"
    type="revolute">
    <origin
      xyz="0.0216 -0.0922 0"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hip_left" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.17453"
      upper="0.069813"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hipconnector_left">
    <inertial>
      <origin
        xyz="0.000371721010711479 -0.0245214988727123 -0.0142789423985216"
        rpy="0 0 0" />
      <mass
        value="0.0908859899237988" />
      <inertia
        ixx="3.08463534079889E-05"
        ixy="-8.41256102366422E-11"
        ixz="-6.91395972161179E-07"
        iyy="3.93996593055487E-05"
        iyz="-2.44017871876086E-07"
        izz="2.3046259109016E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hipconnector_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hipconnector_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_left"
    type="revolute">
    <origin
      xyz="0.052956 -0.00715 0.0024415"
      rpy="0 0 0" />
    <parent
      link="hip_left" />
    <child
      link="hipconnector_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.17453"
      upper="0.43633"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="thigh_left">
    <inertial>
      <origin
        xyz="-0.0145675301720399 -0.13592908688958 -5.67194289846293E-07"
        rpy="0 0 0" />
      <mass
        value="0.137378554874298" />
      <inertia
        ixx="0.00014808071898738"
        ixy="-1.63141654846657E-05"
        ixz="-1.60941185134833E-09"
        iyy="5.58195502382644E-05"
        iyz="-1.73818741181209E-09"
        izz="0.000171021242818992" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/thigh_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/thigh_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thighlift_left"
    type="revolute">
    <origin
      xyz="0 -0.02665 0"
      rpy="0 0 0" />
    <parent
      link="hipconnector_left" />
    <child
      link="thigh_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.95993"
      upper="1.1345"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shin_left">
    <inertial>
      <origin
        xyz="-0.0160007669286902 -0.089824748659872 0.00220656134574289"
        rpy="0 0 0" />
      <mass
        value="0.0956498712976374" />
      <inertia
        ixx="0.000422592493372737"
        ixy="-3.87929159852985E-06"
        ixz="1.12413264783225E-07"
        iyy="5.30015520086443E-05"
        iyz="2.07894546768639E-06"
        izz="0.00042698761346969" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/shin_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/shin_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_left"
    type="revolute">
    <origin
      xyz="0 -0.182 0"
      rpy="0 0 0" />
    <parent
      link="thigh_left" />
    <child
      link="shin_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.087266"
      upper="0.7854"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="foot_left">
    <inertial>
      <origin
        xyz="-0.0191018153116421 -0.0259472980169031 0.0120981967931707"
        rpy="0 0 0" />
      <mass
        value="0.0849888195956276" />
      <inertia
        ixx="9.35123895078148E-05"
        ixy="-2.01745900444618E-07"
        ixz="2.00858892883565E-06"
        iyy="0.000102901461666756"
        iyz="4.9778361129891E-06"
        izz="2.56222626860108E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/foot_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/foot_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_left"
    type="revolute">
    <origin
      xyz="0 -0.209 0"
      rpy="0 0 0" />
    <parent
      link="shin_left" />
    <child
      link="foot_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.13963"
      upper="0.17453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_right">
    <inertial>
      <origin
        xyz="-0.0490256483910013 0.0160664399123555 -0.0120740376271399"
        rpy="0 0 0" />
      <mass
        value="0.0995268617733542" />
      <inertia
        ixx="5.05561981186045E-05"
        ixy="4.26123277702089E-06"
        ixz="-1.33240369968858E-06"
        iyy="4.7896737772178E-05"
        iyz="1.46988554660308E-06"
        izz="3.30379614617407E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hip_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hip_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_right"
    type="revolute">
    <origin
      xyz="-0.0216 -0.0922 0"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hip_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.17453"
      upper="0.069813"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hipconnector_right">
    <inertial>
      <origin
        xyz="-0.00037189746778511 -0.0245210787466266 -0.0142789940905499"
        rpy="0 0 0" />
      <mass
        value="0.0908862075801104" />
      <inertia
        ixx="3.08465134655627E-05"
        ixy="-8.54650450133453E-11"
        ixz="6.90765044229189E-07"
        iyy="3.93998265893566E-05"
        iyz="-2.44039967234222E-07"
        izz="2.30462673280018E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hipconnector_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/hipconnector_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_right"
    type="revolute">
    <origin
      xyz="-0.052956 -0.00715 0.0024415"
      rpy="0 0 0" />
    <parent
      link="hip_right" />
    <child
      link="hipconnector_right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.17453"
      upper="0.43633"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="thigh_right">
    <inertial>
      <origin
        xyz="0.0145675307097098 -0.13592908742535 5.67046100694371E-07"
        rpy="0 0 0" />
      <mass
        value="0.137378549813852" />
      <inertia
        ixx="0.000148080710594481"
        ixy="1.63141676618333E-05"
        ixz="-1.60963115542047E-09"
        iyy="5.58195496398304E-05"
        iyz="1.73735073089695E-09"
        izz="0.000171021233842108" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/thigh_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/thigh_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thighlift_right"
    type="revolute">
    <origin
      xyz="0 -0.02665 0"
      rpy="0 0 0" />
    <parent
      link="hipconnector_right" />
    <child
      link="thigh_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.95993"
      upper="1.1345"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shin_right">
    <inertial>
      <origin
        xyz="0.0160007613300091 -0.0898251749231913 0.00220651770704533"
        rpy="0 0 0" />
      <mass
        value="0.0956492394604092" />
      <inertia
        ixx="0.000422588993728413"
        ixy="3.87843944025629E-06"
        ixz="-1.12681392596909E-07"
        iyy="5.30010832206693E-05"
        iyz="2.07959611573325E-06"
        izz="0.000426984033194668" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/shin_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/shin_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_right"
    type="revolute">
    <origin
      xyz="0 -0.182 0"
      rpy="0 0 0" />
    <parent
      link="thigh_right" />
    <child
      link="shin_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.087266"
      upper="0.7854"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="foot_right">
    <inertial>
      <origin
        xyz="0.0190997525257982 -0.0259456985628996 0.0121005938841384"
        rpy="0 0 0" />
      <mass
        value="0.0849640823908861" />
      <inertia
        ixx="9.35115490728543E-05"
        ixy="2.01149506050005E-07"
        ixz="-2.00939605183575E-06"
        iyy="0.000102895238673037"
        iyz="4.97500516325294E-06"
        izz="2.56243580518017E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/foot_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UpdatedBalancing_URDF/meshes/foot_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_right"
    type="revolute">
    <origin
      xyz="0 -0.209 0"
      rpy="0 0 0" />
    <parent
      link="shin_right" />
    <child
      link="foot_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.13963"
      upper="0.17453"
      effort="0"
      velocity="0" />
  </joint>
</robot>