<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Balancing_Chess_URDF">
  <link
    name="chest">
    <inertial>
      <origin
        xyz="-6.5907E-07 0.00036012 0.0012587"
        rpy="0 0 0" />
      <mass
        value="0.51796" />
      <inertia
        ixx="0.0005771"
        ixy="9.1536E-09"
        ixz="-1.3375E-07"
        iyy="0.0008604"
        iyz="6.8845E-06"
        izz="0.00059415" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="neck">
    <inertial>
      <origin
        xyz="-0.00046369 0.0090201 -3.1039E-08"
        rpy="0 0 0" />
      <mass
        value="0.0054006" />
      <inertia
        ixx="6.4912E-07"
        ixy="9.1085E-09"
        ixz="2.9713E-12"
        iyy="1.6482E-06"
        iyz="3.3201E-13"
        izz="1.8548E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="neck_turn"
    type="revolute">
    <origin
      xyz="0 -0.010944 0.082162"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="neck" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head">
    <inertial>
      <origin
        xyz="0.000803480123882816 0.0534510885362027 -0.00361430210173794"
        rpy="0 0 0" />
      <mass
        value="0.4966587637943" />
      <inertia
        ixx="0.00102875639570257"
        ixy="-8.67862819987914E-09"
        ixz="2.09572066314901E-07"
        iyy="0.00203886300157413"
        iyz="-1.09198580315458E-05"
        izz="0.00164695377435874" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/head.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/head.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_nod"
    type="revolute">
    <origin
      xyz="0 0.02 0"
      rpy="0 0 0" />
    <parent
      link="neck" />
    <child
      link="head" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_left">
    <inertial>
      <origin
        xyz="0.036702 -0.00018187 0.0019408"
        rpy="0 0 0" />
      <mass
        value="0.11166" />
      <inertia
        ixx="3.2634E-05"
        ixy="1.0003E-07"
        ixz="-1.0863E-07"
        iyy="4.2856E-05"
        iyz="-2.763E-07"
        izz="3.9214E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/shoulder_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/shoulder_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_left"
    type="revolute">
    <origin
      xyz="0.089501 -0.015604 0.032462"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bicep_left">
    <inertial>
      <origin
        xyz="-0.000120898844433059 -0.0767947667002765 0.00460157339160713"
        rpy="0 0 0" />
      <mass
        value="0.145739770828731" />
      <inertia
        ixx="7.04776795612585E-05"
        ixy="-5.59630806175732E-08"
        ixz="5.66191302191022E-09"
        iyy="3.48834492828899E-05"
        iyz="2.73140489027361E-06"
        izz="8.67056713359699E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/bicep_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/bicep_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="armlift_left"
    type="revolute">
    <origin
      xyz="0.055491 0.00011 0"
      rpy="0 0 0" />
    <parent
      link="shoulder_left" />
    <child
      link="bicep_left" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elbow_left">
    <inertial>
      <origin
        xyz="-0.00552081543694341 -0.0390367081909189 -0.0109934774651699"
        rpy="0 0 0" />
      <mass
        value="0.0696997574553724" />
      <inertia
        ixx="2.39361627172128E-05"
        ixy="-3.5131382856957E-07"
        ixz="-5.24893156498167E-08"
        iyy="1.53465441420451E-05"
        iyz="-1.14911302963822E-06"
        izz="1.36573095631975E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/elbow_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/elbow_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbowcurl_left"
    type="revolute">
    <origin
      xyz="0.0045089 -0.1033 0.0065"
      rpy="0 0 0" />
    <parent
      link="bicep_left" />
    <child
      link="elbow_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_left">
    <inertial>
      <origin
        xyz="0.000433912797094455 -0.0311473036318524 4.08044720808442E-06"
        rpy="0 0 0" />
      <mass
        value="0.0358643400810453" />
      <inertia
        ixx="6.712459826025E-06"
        ixy="-1.00968028336087E-07"
        ixz="1.80908844039553E-12"
        iyy="4.50563090198978E-06"
        iyz="5.97773545802844E-10"
        izz="7.59655047197248E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/forearm_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/forearm_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handspin_left"
    type="revolute">
    <origin
      xyz="-0.0045089 -0.06238 0"
      rpy="0 0 0" />
    <parent
      link="elbow_left" />
    <child
      link="forearm_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hand_left">
    <inertial>
      <origin
        xyz="0.00109032195070818 -0.0678977111646608 -0.00117614022404189"
        rpy="0 0 0" />
      <mass
        value="0.109497135710607" />
      <inertia
        ixx="2.83983780296705E-05"
        ixy="-1.42228890197939E-06"
        ixz="1.30763626754737E-08"
        iyy="2.37603477225452E-05"
        iyz="-1.47516258411142E-06"
        izz="2.80325661824611E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hand_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hand_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristcurl_left"
    type="revolute">
    <origin
      xyz="0 -0.0479 0"
      rpy="0 0 0" />
    <parent
      link="forearm_left" />
    <child
      link="hand_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper_left">
    <inertial>
      <origin
        xyz="-0.00638782211981948 -0.019788374035198 -0.0110789685068465"
        rpy="0 0 0" />
      <mass
        value="0.00510904165131481" />
      <inertia
        ixx="2.70406157052312E-06"
        ixy="-2.5463451176325E-07"
        ixz="8.4419750797171E-09"
        iyy="1.77868259913855E-06"
        iyz="-2.34312427679618E-07"
        izz="1.17285411365298E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/gripper_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/gripper_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_left"
    type="revolute">
    <origin
      xyz="0.0006381 -0.11159 -0.0015564"
      rpy="0.076707 0 0" />
    <parent
      link="hand_left" />
    <child
      link="gripper_left" />
    <axis
      xyz="0 0.062719 0.99803" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="shoulder_right">
    <inertial>
      <origin
        xyz="-0.0367867048688758 -0.000266584850597346 0.00145740866209888"
        rpy="0 0 0" />
      <mass
        value="0.111655209278659" />
      <inertia
        ixx="3.26341547019089E-05"
        ixy="-1.00149634268116E-07"
        ixz="3.53611684818865E-07"
        iyy="4.28556042638667E-05"
        iyz="2.76297898895794E-07"
        izz="3.92138047350205E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/shoulder_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/shoulder_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulderspin_right"
    type="revolute">
    <origin
      xyz="-0.089497 -0.015604 0.032462"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="shoulder_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bicep_right">
    <inertial>
      <origin
        xyz="0.000120840050215801 -0.0767949641379226 0.00444226354427807"
        rpy="0 0 0" />
      <mass
        value="0.145739112705213" />
      <inertia
        ixx="7.0476807793333E-05"
        ixy="5.61714009935357E-08"
        ixz="-5.73424715931236E-09"
        iyy="3.48834328932938E-05"
        iyz="2.73128855492095E-06"
        izz="8.67046405929377E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/bicep_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/bicep_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="armlift_right"
    type="revolute">
    <origin
      xyz="-0.055601 0 0"
      rpy="0 0 0" />
    <parent
      link="shoulder_right" />
    <child
      link="bicep_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="elbow_right">
    <inertial>
      <origin
        xyz="0.00101158384201447 -0.0390365429562165 -0.0109932153031413"
        rpy="0 0 0" />
      <mass
        value="0.0697003946438699" />
      <inertia
        ixx="2.39361976751456E-05"
        ixy="3.51399398173786E-07"
        ixz="5.25574526488749E-08"
        iyy="1.53466417627746E-05"
        iyz="-1.14914807694618E-06"
        izz="1.36572035667433E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/elbow_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/elbow_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbowcurl_right"
    type="revolute">
    <origin
      xyz="0 -0.1033 0.0063"
      rpy="0 0 0" />
    <parent
      link="bicep_right" />
    <child
      link="elbow_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="forearm_right">
    <inertial>
      <origin
        xyz="0.000148059451727675 -0.0311473036104171 -4.08044228085219E-06"
        rpy="0 0 0" />
      <mass
        value="0.0358643400623008" />
      <inertia
        ixx="6.71245984133165E-06"
        ixy="1.00967982653384E-07"
        ixz="1.84930376243376E-12"
        iyy="4.50563089351917E-06"
        iyz="-5.97767237549839E-10"
        izz="7.59655048227918E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/forearm_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/forearm_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="handspin_right"
    type="revolute">
    <origin
      xyz="0 -0.06238 0"
      rpy="0 0 0" />
    <parent
      link="elbow_right" />
    <child
      link="forearm_right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hand_right">
    <inertial>
      <origin
        xyz="0.000402226658976934 -0.0678977111981909 -0.00117614021842141"
        rpy="0 0 0" />
      <mass
        value="0.109497135798019" />
      <inertia
        ixx="2.83983780470224E-05"
        ixy="-1.42228889201604E-06"
        ixz="1.30763572374016E-08"
        iyy="2.376034773421E-05"
        iyz="-1.47516257736643E-06"
        izz="2.80325662015897E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hand_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hand_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wristcurl_right"
    type="revolute">
    <origin
      xyz="0 -0.0479 0"
      rpy="3.1416 0 3.1416" />
    <parent
      link="forearm_right" />
    <child
      link="hand_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper_right">
    <inertial>
      <origin
        xyz="-0.00638782211814252 -0.0197883740437725 -0.0110789685159262"
        rpy="0 0 0" />
      <mass
        value="0.00510904165446283" />
      <inertia
        ixx="2.70406157361966E-06"
        ixy="-2.54634510521004E-07"
        ixz="8.44197508095905E-09"
        iyy="1.77868260149171E-06"
        iyz="-2.34312428417018E-07"
        izz="1.17285411645456E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/gripper_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/gripper_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_right"
    type="continuous">
    <origin
      xyz="-4.9999E-05 -0.11159 -0.0015564"
      rpy="0.076707 1.0186E-05 -0.00073032" />
    <parent
      link="hand_right" />
    <child
      link="gripper_right" />
    <axis
      xyz="0 0.062719 0.99803" />
  </joint>
  <link
    name="waist">
    <inertial>
      <origin
        xyz="-4.31361210639913E-08 -0.0234755752726476 -0.026049863904514"
        rpy="0 0 0" />
      <mass
        value="0.0611615287088307" />
      <inertia
        ixx="0.000114715638927737"
        ixy="1.42434165228283E-10"
        ixz="9.91877015136554E-11"
        iyy="0.000110281529216247"
        iyz="-6.6688088548169E-06"
        izz="4.69040180855929E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/waist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/waist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waistspin"
    type="revolute">
    <origin
      xyz="0 -0.015604 -0.096138"
      rpy="1.5708 0 0" />
    <parent
      link="chest" />
    <child
      link="waist" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="abdominalmotors">
    <inertial>
      <origin
        xyz="0.000174665023591911 0.0176769516843184 -0.0219919398784802"
        rpy="0 0 0" />
      <mass
        value="0.195912121751896" />
      <inertia
        ixx="9.4917459231208E-05"
        ixy="6.96731583307854E-07"
        ixz="-1.79495723619729E-08"
        iyy="7.82537929863942E-05"
        iyz="3.49689321252975E-06"
        izz="7.78783957234944E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/abdominalmotors.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/abdominalmotors.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waistlean"
    type="revolute">
    <origin
      xyz="0 -0.06899 -0.0039"
      rpy="0 0 0" />
    <parent
      link="waist" />
    <child
      link="abdominalmotors" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="pelvis">
    <inertial>
      <origin
        xyz="0.000305814096500559 -0.0700588956579401 -0.0114445878129717"
        rpy="0 0 0" />
      <mass
        value="0.194609765587927" />
      <inertia
        ixx="9.18291939149481E-05"
        ixy="-1.76630998056817E-06"
        ixz="-3.87267854266786E-07"
        iyy="6.96811860233498E-05"
        iyz="-8.85204047249171E-07"
        izz="8.68874056512852E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/pelvis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="torsobend"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="abdominalmotors" />
    <child
      link="pelvis" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hiplift_left">
    <inertial>
      <origin
        xyz="0.0490258828792566 0.0160663120640047 -0.0159744848481047"
        rpy="0 0 0" />
      <mass
        value="0.0995250123742131" />
      <inertia
        ixx="5.05544531504473E-05"
        ixy="-4.26036408100062E-06"
        ixz="1.33259890630963E-06"
        iyy="4.78936757211644E-05"
        iyz="1.47016122823771E-06"
        izz="3.30349316334802E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hiplift_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hiplift_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_left"
    type="revolute">
    <origin
      xyz="0.0216 -0.0922 0.0039"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hiplift_left" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hiprotate_left">
    <inertial>
      <origin
        xyz="0.000371721010711479 -0.0245214988727123 -0.0142789423985216"
        rpy="0 0 0" />
      <mass
        value="0.0908859899237988" />
      <inertia
        ixx="3.08463534079889E-05"
        ixy="-8.41256102364967E-11"
        ixz="-6.91395972161179E-07"
        iyy="3.93996593055487E-05"
        iyz="-2.44017871876086E-07"
        izz="2.3046259109016E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hiprotate_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hiprotate_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_left"
    type="revolute">
    <origin
      xyz="0.052956 -0.00715 -0.0014585"
      rpy="0 0 0" />
    <parent
      link="hiplift_left" />
    <child
      link="hiprotate_left" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="thigh_left">
    <inertial>
      <origin
        xyz="-0.0145675301720399 -0.13592908688958 -5.67194289849762E-07"
        rpy="0 0 0" />
      <mass
        value="0.137378554874298" />
      <inertia
        ixx="0.00014808071898738"
        ixy="-1.63141654846658E-05"
        ixz="-1.60941185135784E-09"
        iyy="5.58195502382646E-05"
        iyz="-1.73818741181613E-09"
        izz="0.000171021242818992" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/thigh_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/thigh_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leglift_left"
    type="revolute">
    <origin
      xyz="0 -0.02665 0"
      rpy="0 0 0" />
    <parent
      link="hiprotate_left" />
    <child
      link="thigh_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="calf_left">
    <inertial>
      <origin
        xyz="-0.0160007669286902 -0.0898247486598719 0.0022065613457429"
        rpy="0 0 0" />
      <mass
        value="0.0956498712976374" />
      <inertia
        ixx="0.000422592493372738"
        ixy="-3.87929159852985E-06"
        ixz="1.12413264783221E-07"
        iyy="5.30015520086443E-05"
        iyz="2.07894546768639E-06"
        izz="0.00042698761346969" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/calf_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/calf_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_left"
    type="revolute">
    <origin
      xyz="0 -0.182 0"
      rpy="0 0 0" />
    <parent
      link="thigh_left" />
    <child
      link="calf_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="foot_left">
    <inertial>
      <origin
        xyz="-0.019101815311642 -0.0259472980169032 0.0120981967931707"
        rpy="0 0 0" />
      <mass
        value="0.0849888195956276" />
      <inertia
        ixx="9.35123895078147E-05"
        ixy="-2.01745900444621E-07"
        ixz="2.00858892883565E-06"
        iyy="0.000102901461666756"
        iyz="4.97783611298911E-06"
        izz="2.56222626860108E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/foot_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/foot_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_left"
    type="revolute">
    <origin
      xyz="0 -0.209 0"
      rpy="0 0 0" />
    <parent
      link="calf_left" />
    <child
      link="foot_left" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hiplift_right">
    <inertial>
      <origin
        xyz="-0.0490256483910393 0.0160664399123552 -0.0159740379084392"
        rpy="0 0 0" />
      <mass
        value="0.0995268617733542" />
      <inertia
        ixx="5.05561981186045E-05"
        ixy="4.26123277702088E-06"
        ixz="-1.33240369968858E-06"
        iyy="4.7896737772178E-05"
        iyz="1.46988554660309E-06"
        izz="3.30379614617406E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hiplift_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hiplift_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiplift_right"
    type="revolute">
    <origin
      xyz="-0.0216 -0.0922 0.0039"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="hiplift_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hiprotate_right">
    <inertial>
      <origin
        xyz="-0.000371897467784625 -0.0245210787466261 -0.0142789940905508"
        rpy="0 0 0" />
      <mass
        value="0.090886207580114" />
      <inertia
        ixx="3.08465134655656E-05"
        ixy="-8.54650448871804E-11"
        ixz="6.90765044230453E-07"
        iyy="3.93998265893598E-05"
        iyz="-2.44039967234515E-07"
        izz="2.30462673280022E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hiprotate_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/hiprotate_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hiprotate_right"
    type="revolute">
    <origin
      xyz="-0.052956 -0.00715 -0.0014585"
      rpy="0 0 0" />
    <parent
      link="hiplift_right" />
    <child
      link="hiprotate_right" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="thigh_right">
    <inertial>
      <origin
        xyz="0.0145675307097098 -0.13592908742535 5.67046100692636E-07"
        rpy="0 0 0" />
      <mass
        value="0.137378549813852" />
      <inertia
        ixx="0.000148080710594481"
        ixy="1.63141676618334E-05"
        ixz="-1.60963115541054E-09"
        iyy="5.58195496398303E-05"
        iyz="1.73735073089079E-09"
        izz="0.000171021233842108" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/thigh_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/thigh_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leglift_right"
    type="revolute">
    <origin
      xyz="0 -0.02665 0"
      rpy="0 0 0" />
    <parent
      link="hiprotate_right" />
    <child
      link="thigh_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="calf_right">
    <inertial>
      <origin
        xyz="0.0160007613300091 -0.0898251749231913 0.00220651770704533"
        rpy="0 0 0" />
      <mass
        value="0.0956492394604093" />
      <inertia
        ixx="0.000422588993728413"
        ixy="3.8784394402563E-06"
        ixz="-1.12681392596902E-07"
        iyy="5.30010832206692E-05"
        iyz="2.07959611573325E-06"
        izz="0.000426984033194668" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/calf_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/calf_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_right"
    type="revolute">
    <origin
      xyz="0 -0.182 0"
      rpy="0 0 0" />
    <parent
      link="thigh_right" />
    <child
      link="calf_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="foot_right">
    <inertial>
      <origin
        xyz="0.0190997525257982 -0.0259456985628996 0.0121005938841384"
        rpy="0 0 0" />
      <mass
        value="0.0849640823908861" />
      <inertia
        ixx="9.35115490728543E-05"
        ixy="2.01149506050003E-07"
        ixz="-2.00939605183574E-06"
        iyy="0.000102895238673037"
        iyz="4.97500516325293E-06"
        izz="2.56243580518017E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/foot_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Balancing_Chess_URDF/meshes/foot_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_right"
    type="revolute">
    <origin
      xyz="0 -0.209 0"
      rpy="0 0 0" />
    <parent
      link="calf_right" />
    <child
      link="foot_right" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>